.content-viewer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .viewer-top {
    min-height: 60px;
    flex-grow: 0;
    display: block;
    background-color: $secondary;
    vertical-align: top;

    .logo-area {
      display: inline-block;
      padding: 5px 0;
      width: 120px;
    }

    .side-menu {
      width: 180px;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      color: $white;
      padding: 18px 1rem;

      > span {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $white;
        background-color: $gray-300;
        display: inline-block;
        color: $black;
        text-align: center;
        padding-top: 4px;
        font-size: 12px;

        &:hover {
          background-color: $white;
          cursor: pointer;
          transition: 0.3s all;
        }
      }
    }

    .menu {
      display: inline-block;
      width: calc(100% - 300px);
      vertical-align: top;
      padding: 4px 0;

      .chapters-menu {
        margin-bottom: 4px;
      }

      .chapters {
        margin-bottom: 4px;
      }
    }
  }

  > .content {
    flex-grow: 1;
    background-color: $white;
  }
}
