$icon-size: 60px;

.share-stand-by-user-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  align-self: center;
  padding: 1rem 0.5rem 1rem 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1rem;
  }

  .admin-user {
    padding: 0;
    text-align: center;
    min-width: 220px;
    flex-grow: 0;

    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }

  .member-user {
    text-align: center;
    overflow-y: auto;
    flex-grow: 1;
    position: relative;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 0.5rem;

      @media (max-width: 768px) {
        padding: 0;
      }
    }

    @media (max-width: 576px) {
      padding: 0;

      .row {
        margin: 0;

        .col {
          padding: 0;
        }
      }
    }
  }

  .member-empty {
    display: flex;
    flex-grow: 1;
    padding: 0 0.5rem 0 1rem;

    @media (max-width: 768px) {
      padding: 0;
      margin-top: 1rem;
    }

    > div {
      background-color: $light;
    }
  }
}
