$user-color: $primary;
$focus-color: $yellow;
$chapter-color: $gray-600;
$page-color: $secondary;
$max-user-color: darken($primary, 10%);
$min-color: $danger;
$max-color: $success;

.share-stat-tooltip {
  .tooltip-time {
    font-size: 0.6rem;
    .start-time {
      margin-right: 0.5rem;
    }

    .spend-time {
      margin-left: 0.5rem;
    }
  }

  .tooltip-content {
    font-size: 0.7rem;
  }
}

.share-state-wrapper {
  text-align: left;
  display: flex;
  height: 100%;
  flex-direction: column;

  > .share-state-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .summary-info {
      flex-grow: 0;
      display: flex;
      vertical-align: top;
      @media (max-width: 1400px) {
        display: block;
      }
      .general-info {
        min-width: 450px;
        @media (max-width: 1400px) {
          min-width: auto;
          width: 50%;
          display: inline-block;
          height: 286px;
        }

        @media (max-width: 992px) {
          width: 100%;
          display: block;
          height: 286px;
        }

        .share-name {
          font-size: 1.2rem;
          text-align: center;
          margin-top: 0.25rem;
          font-weight: bold;
          font-family: NanumGothic, sans-serif;
        }

        .share-duration {
          text-align: center;
          margin-bottom: 0.5rem;
          > span {
            font-size: 0.7rem;
          }
        }

        .topic-name {
          text-align: center;
          margin-bottom: 0.5rem;
          position: absolute;
          top: 10px;
          right: 5px;

          > span {
            font-size: 0.7rem;
          }
        }

        .share-memo {
          height: 60px;
          background-color: $light;
        }

        .access-code {
          position: absolute;
          bottom: 0;
          right: 0;
          display: none;
          > span {
            font-size: 0.8rem;
          }
        }

        .count-info {
          display: flex;
          flex-direction: row;
          margin-top: 1.5rem;
          margin-bottom: 1rem;

          > div {
            flex: 1 1;
            text-align: center;

            &.separator {
              max-width: 1px;
              display: flex;
              > div {
                width: 1px;
                height: 30px;
                background-color: rgba(0, 0, 0, 0.2);
                align-self: center;
              }
            }

            .icon {
              font-size: 1.2rem;
              line-height: 100%;
            }

            .counter {
              font-family: 'Baloo Bhai', cursive;
              font-size: 2.4rem;
              line-height: 100%;
            }

            .tag {
              line-height: 0;
              > span {
                font-size: 0.7rem;
                border-radius: 2px;
              }
            }
          }
        }
      }

      .share-user-info {
        flex-grow: 0;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        min-width: 450px;

        @media (max-width: 1400px) {
          margin-left: 0;
          width: 50%;
          display: inline-flex;
          height: 286px;
          vertical-align: top;
          padding-left: 1.5rem;
          min-width: auto;
        }

        @media (max-width: 992px) {
          width: 100%;
          display: flex;
          height: 286px;
          padding-left: 0;
          margin-top: 1rem;
        }

        .card {
          .share-user-list {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 1rem;

            > div {
              display: flex;
              flex-direction: row;
              border: 1px solid rgba(0, 0, 0, 0.3);
              margin-bottom: 0.5rem;
              border-radius: 2px;

              .user-icon {
                width: 50px;
                height: 50px;
                padding: 10px;
              }

              .user-text {
                line-height: 100%;
                align-self: center;
                font-size: 0.9rem;
                padding: 0 10px;
              }
            }
          }
        }
      }

      .stat-summary {
        flex-grow: 1;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 1400px) {
          margin-left: 0;
          width: 100%;
          display: inline-flex;
          height: 160px;
          vertical-align: top;
          margin-top: 1rem;
        }

        @media (max-width: 768px) {
          height: 240px;
        }

        @media (max-width: 576px) {
          height: auto;
        }

        .card {
          flex-grow: 1;

          .stat-summary-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            > div {
              flex: 1 1 0;

              &.count-info {
                display: flex;
                flex-direction: column;
                align-self: center;
                width: 100%;
                height: 100%;
                flex-grow: 1;

                @media (max-width: 1400px) {
                  flex-direction: row;
                }

                @media (max-width: 768px) {
                  flex-direction: column;
                }

                > div {
                  flex: 1 1 0;
                  display: flex;
                  flex-direction: row;

                  @media (max-width: 576px) {
                    flex-direction: column;
                  }

                  > div {
                    flex: 1 1;
                    text-align: center;
                    align-self: center;

                    @media (max-width: 576px) {
                      padding: 1rem 0;
                    }

                    &.separator {
                      max-width: 1px;
                      display: flex;
                      @media (max-width: 576px) {
                        display: none;
                      }
                      > div {
                        width: 1px;
                        height: 30px;
                        background-color: rgba(0, 0, 0, 0.2);
                        align-self: center;
                      }
                    }

                    .metric {
                      font-size: 0.9rem;
                      line-height: 100%;
                      margin-bottom: 0.5rem;
                    }

                    .counter {
                      font-family: 'Baloo Bhai', LGSmHaL, sans-serif;
                      font-size: 2.2rem;
                      line-height: 100%;
                    }

                    .text {
                      font-size: 1.4rem;
                      line-height: 100%;
                    }

                    .tag {
                      line-height: 0;
                      > span {
                        font-size: 0.7rem;
                        border-radius: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .share-state {
      flex-grow: 1;
      display: flex;
      min-height: 300px;
      flex-direction: column;
      position: relative;
      word-spacing: -2px;

      .graph-legend {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.7rem;
        line-height: 0;
        vertical-align: top;

        > div {
          display: inline-flex;
          line-height: 100%;
          margin: 0 0.5rem;
          vertical-align: top;

          &.separator {
            width: 1px;
            height: 20px;
            padding-top: 5px;
            > div {
              width: 100%;
              height: 10px;
              background-color: rgba(0, 0, 0, 0.4);
            }
          }

          .shape {
            flex-grow: 0;
            line-height: 0;
            height: 20px;
            .rect-item {
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 1px solid rgba(0, 0, 0, 0.4);
              line-height: 0;

              &.user-cnt {
                background-color: $user-color;
              }

              &.focus-count {
                background-color: $focus-color;
              }

              &.max-focus {
                background-color: $max-color;
                _background-image: linear-gradient(transparent 0%, $max-color 40%);
              }

              &.min-focus {
                background-color: $min-color;
                _background-image: linear-gradient(transparent 0%, $min-color 40%);
              }
            }

            .arrow-item {
              position: relative;
              width: 20px;
              height: 20px;

              .line {
                position: absolute;
                left: 0;
                top: 9px;
                height: 1px;
                width: 100%;
                border-bottom: 2px solid #333;
              }

              .arrow {
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                border: 2px solid $secondary;
                border-left: none;
                border-bottom: none;
                position: absolute;
                right: 2px;
                top: 5px;
                display: inline-block;
                background-color: transparent;
              }

              &.chapter-move {
                .line,
                .arrow {
                  border-color: $chapter-color;
                }
              }

              &.page-move {
                .line,
                .arrow {
                  border-color: $page-color;
                }

                .line {
                  border-bottom-style: dashed;
                }
              }
            }

            .line-item {
              position: relative;
              width: 20px;
              height: 20px;

              .line {
                position: absolute;
                left: 0;
                top: 9px;
                height: 1px;
                width: 100%;
                border-bottom: 2px dashed $max-user-color;
              }
            }
          }

          .label {
            align-self: center;
            margin-left: 0.25rem;
          }
        }
      }

      .share-log-title {
        flex-grow: 0;
      }

      .share-log-content {
        flex-grow: 1;
        position: relative;
        min-height: 300px;
        .share-log-card {
          display: flex;
          flex-direction: row;
          @media (max-width: 768px) {
            flex-direction: column;
          }

          .list {
            min-width: 220px;
            flex-grow: 0;
            background-color: $light;
            border-right: 1px solid rgba(0, 0, 0, 0.4);

            @media (max-width: 768px) {
              min-width: auto;
              border-right: none;

              .open-date {
                display: none;
              }
            }

            .table {
              position: relative;
              width: calc(100% + 1px);

              @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 0;
              }
              tr {
                td {
                  border-top: none;
                  white-space: nowrap;

                  &.open-date {
                    > span {
                      padding: 1px 0 0;
                      display: inline-block;
                    }
                  }
                }

                &.selected {
                  td {
                    background-color: $white;
                  }
                }
              }
            }
          }

          .viewer {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: hidden;

            .no-page-change {
              flex-grow: 0;
              min-height: 60px;
              margin-top: 10px;
              margin-bottom: 10px;
              text-align: center;
              display: flex;
              width: 100%;
              > div {
                align-self: center;
                width: 100%;
              }
            }

            .page-change-graph {
              flex-grow: 0;
              min-height: 60px;
              padding: 0 25px 0 50px;
              margin-top: 10px;
              margin-bottom: 10px;
              div {
                width: 100%;
                height: 25px;
                _background-color: $light;
                position: relative;

                &.chapter-list {
                  margin-bottom: 10px;

                  .change-item {
                    > div {
                      &.text-data > span,
                      &.line,
                      &.arrow {
                        border-color: $chapter-color;
                      }

                      &.start-bar {
                        background-color: $chapter-color;
                      }
                    }
                  }
                }

                &.page-list {
                  .change-item {
                    > div {
                      &.text-data > span,
                      &.line,
                      &.arrow {
                        border-color: $page-color;
                      }

                      &.line {
                        border-style: dashed;
                      }

                      &.start-bar {
                        background-color: $page-color;
                      }
                    }
                  }
                }

                .change-item {
                  position: absolute;
                  top: 0;
                  height: 100%;
                  display: inline-block;
                  white-space: nowrap;
                  overflow-x: hidden;

                  > div {
                    position: absolute;
                    display: inline-block;

                    &.start-bar {
                      position: absolute;
                      width: 2px;
                      height: 100%;
                    }

                    &.start-bar {
                      left: 0;
                    }

                    &.arrow {
                      width: 12px;
                      height: 12px;
                      transform: rotate(45deg);
                      border: 2px solid transparent;
                      border-left: none;
                      border-bottom: none;
                      position: absolute;
                      right: 3px;
                      top: 8px;
                      display: inline-block;
                      background-color: transparent;
                    }

                    &.line {
                      position: absolute;
                      width: 100%;
                      height: 1px;
                      top: 50%;
                      left: 0;
                      border-top: 1px solid transparent;
                      border-bottom: 1px solid transparent;
                    }

                    &.text-data {
                      font-size: 0.7rem;
                      width: 100%;
                      left: 0;
                      text-align: center;
                      padding-top: 3px;
                      > span {
                        display: inline-block;
                        background-color: $white;
                        border: 2px solid transparent;
                        border-radius: 2px;
                        padding: 0 4px;
                      }
                    }
                  }

                  &.min {
                    > div {
                      &.text-data {
                        > span {
                          background-color: $min-color;
                          color: $white;
                        }
                      }
                    }
                  }

                  &.max {
                    > div {
                      &.text-data {
                        > span {
                          background-color: $max-color;
                          color: $white;
                        }
                      }
                    }
                  }
                }
              }
            }

            .share-stat-graph {
              flex-grow: 1;
              display: flex;
              flex-direction: row;

              .counter-axis {
                min-width: 50px;
                max-width: 50px;
                flex-grow: 0;

                > div {
                  width: 100%;
                  height: 100%;

                  svg {
                    overflow: visible;
                  }
                }
              }

              .graph {
                flex-grow: 1;

                position: relative;
                > div {
                  width: calc(100% - 25px);
                  height: 100%;
                  background-color: $light;
                  background-color: $white;

                  .graph-item {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    height: 100%;

                    .marker {
                      position: absolute;
                      top: 0;
                      left: -1px;
                      bottom: 0;
                      right: -1px;
                      width: calc(100% + 2px);
                    }

                    &.min {
                      .marker {
                        opacity: 0.7;
                        background-image: linear-gradient(transparent 0%, $min-color 40%);
                      }
                    }

                    &.max {
                      .marker {
                        opacity: 0.7;
                        background-image: linear-gradient(transparent 0%, $max-color 40%);
                      }
                    }

                    &.min,
                    &.max {
                      > div {
                        &.focus-percentage {
                          color: $white;
                          > span {
                            background-color: rgba(0, 0, 0, 0.5);
                          }
                        }
                      }
                    }

                    > div {
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      display: inline-block;
                      width: 100%;

                      &.focus-percentage {
                        font-size: 0.6rem;
                        text-align: center;
                        line-height: 100%;
                        white-space: nowrap;
                      }

                      &.user-cnt {
                        background-color: $user-color;
                        border-top: 1px solid darken($user-color, 30%);
                        border-right: 1px solid darken($user-color, 30%);
                        border-left: 1px solid darken($user-color, 30%);
                        border-radius: 2px 2px 0 0;
                      }

                      &.focus-cnt {
                        background-color: $focus-color;
                        border-top: 1px solid darken($focus-color, 30%);
                        border-right: 1px solid darken($focus-color, 30%);
                        border-left: 1px solid darken($focus-color, 30%);
                        border-radius: 2px 2px 0 0;
                      }
                    }
                  }
                }

                .max-line {
                  position: absolute;
                  left: 0;
                  height: 1px;
                  right: 0;
                  border-bottom: 2px dashed $max-user-color;
                  _background-color: #333;
                  text-align: left;
                  overflow: visible;
                  font-size: 0.6rem;

                  > div {
                    position: relative;
                    top: -7px;
                    left: -22px;
                    > span {
                      background-color: $max-user-color;
                      color: $white;
                      line-height: 100%;
                      padding: 0.125rem 0.25rem;
                      border-radius: 2px;
                    }
                  }
                }
              }
            }

            .time-axis {
              flex-grow: 0;
              min-height: 30px;
              max-height: 30px;
              padding: 0 25px 0 50px;
              > div {
                width: 100%;
                height: 100%;

                svg {
                  overflow: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}
