.page-controller-wrapper {
  flex: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  display: flex;
  text-align: left;
  font-size: 0.75rem;
  background-color: $white;
  padding: 2px 0.5rem 2px 2px;
  z-index: 1;
  position: relative;

  .controller-menu {
    flex-grow: 1;
    align-self: center;
    padding: 0;
    text-align: right;
    background-color: $white;
    display: flex;
    flex-direction: column;

    .sub-menu {
      margin-top: 2px;
      text-align: left;
      display: flex;
      height: 22px;
      flex-direction: row;
      vertical-align: middle;
      align-self: center;
      width: 100%;
    }
  }

  .color-border {
    font-size: 12px;
    padding: 0.25rem;
    display: inline-block;
    position: relative;

    .color-bar {
      position: absolute;
      bottom: 4px;
      left: 2px;
      right: 2px;
      height: 3px;
      background-color: $gray-300;
      border-radius: 2px;
    }
  }

  .fill-color {
    font-size: 11px;

    .color-bar {
      bottom: 3px;
    }
  }

  .always-menu {
    flex-grow: 0;
    align-self: center;
  }
}
