$icon-size: 50px;

.share-stand-by-user-card-wrapper {
  border-radius: 2px;
  border: none !important;
  background-color: transparent !important;
  _box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);

  &.OFFLINE {
    _background-color: $gray-400;
  }

  .user-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    border: none;
    height: 80px;
  }

  .status {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 16px;
    vertical-align: top;
    line-height: 100%;
    display: none;

    > span {
      font-size: 11px;
      padding: 2px 4px;
    }
    display: none;
  }

  .crown-icon {
    position: absolute;
    top: 4px;
    left: 0;
    color: $black;
    border-radius: 50%;
    text-align: left;
    padding-left: 23px;

    > span {
      text-align: center;
      display: inline-block;
      height: 24px;
      width: 24px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 12px;
      background-color: $primary;
      color: $white;
      border-radius: 50%;
      padding-top: 3px;
    }
  }

  .user-info {
    text-align: center;
    flex-grow: 0;
    padding: 0.75rem 0;

    .user-icon {
      padding: 0 10px;
      > div {
        display: inline-block;
        width: $icon-size;
        height: $icon-size;
      }
    }

    .user-name {
      text-align: center;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 70px;

      > span {
        display: inline-block;
        padding: 2px 8px 3px;
        line-height: 100%;
        border-radius: 2px;
        position: relative;
        font-size: 12px;
        background-color: $yellow;
      }
    }

    .default-icon {
      width: $icon-size;
      height: $icon-size;
      display: inline-block;
      font-size: 40px;
      border-radius: 50%;
      padding-top: 1px;
      border: 2px solid #333;
      color: $black;
      background-color: $gray-300;
    }
  }

  &.OFFLINE {
    .user-name {
      > span {
        background-color: $gray-600;
      }
    }
  }

  .chat {
    flex-grow: 1;
    position: relative;
    align-self: baseline;
    height: 100%;
    display: flex;

    > div.bullet {
      flex-grow: 0;
      display: flex;
      > span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: $white;
        align-self: center;
        transform: rotate(45deg);
        position: relative;
        left: 2px;
      }
    }

    > div.message {
      flex-grow: 1;
      position: relative;
      > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: left;
        display: flex;

        > div {
          display: inline-block;
          padding: 0 0.25rem 0 0;
          align-self: center;
          position: relative;
          overflow-y: auto;
          max-height: 100%;

          > div {
            background-color: $white;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
          }
        }
      }
    }
  }
}
