$icon-size: 50px;

.share-stand-by-user-card-wrapper {
  border-radius: 2px;
  border: none !important;
  background-color: transparent !important;
  display: inline-block !important;
  margin: 0 0.25rem;

  &.OFFLINE {
    _background-color: $gray-400;
  }

  .user-card-content {
    position: relative;
    display: flex;
    flex-direction: row;
    border: none;
    height: 80px;
  }

  .status {
    position: absolute;
    top: 35px;
    right: 0;
    text-align: center;
    height: 16px;
    vertical-align: top;
    line-height: 100%;
    width: 100%;

    > span {
      font-size: 10px;
      padding: 2px 4px;
      background-color: #333;
      color: $white;
      border-radius: 2px;
    }
  }

  .crown-icon {
    position: absolute;
    top: -10px;
    left: 0;
    color: $black;
    border-radius: 50%;
    width: 100%;
    text-align: center;

    > span {
      text-align: center;
      display: inline-block;
      height: 24px;
      width: 24px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 12px;
      background-color: $primary;
      color: $white;
      border-radius: 50%;
      padding-top: 3px;
    }
  }

  .user-info {
    text-align: center;
    flex-grow: 0;
    padding: 0;

    .user-icon {
      padding: 0 1rem;
      > div {
        display: inline-block;
        width: $icon-size;
        height: $icon-size;
        box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
      }
    }

    .user-name {
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      margin-top: 0.125rem;
      overflow: visible;

      > span {
        display: inline-block;
        padding: 4px 8px;
        line-height: 100%;
        border-radius: 2px;
        position: relative;
        font-size: 12px;
        background-color: $yellow;
        box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.1);
      }
    }

    .default-icon {
      width: $icon-size;
      height: $icon-size;
      display: inline-block;
      font-size: 40px;
      border-radius: 50%;
      padding-top: 1px;
      border: 2px solid #333;
      color: $black;
      background-color: $gray-300;
    }
  }

  &.OFFLINE {
    .user-name {
      > span {
        background-color: transparent;
      }
    }
  }

  .chat {
    align-self: baseline;
    position: absolute;
    bottom: 80px;
    width: 100%;

    > div.message {
      background-color: $white;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      display: inline-block;
      align-self: center;
      position: relative;
      overflow-y: auto;
      max-height: 100%;
      white-space: pre-wrap;
      max-height: 50px;
    }
  }
}
