.border-control-wrapper {
  height: 100%;
  padding: 0;
  margin: 0 1px;
  border-radius: 2px;
  position: relative;

  &.open {
    border-radius: 2px 2px 0 0;
  }

  .bg-clicker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .border-control-content {
    display: flex;
    vertical-align: middle;
    align-self: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    z-index: 1;

    .border-content {
      flex: 1;
      padding: 0;
      align-self: center;
      height: 100%;
      display: flex;
      text-align: center;
      cursor: pointer;

      > span {
        align-self: center;
      }
    }

    .bullet {
      height: 100%;
      flex-grow: 0;
      padding: 0 0.25rem 0;
      align-self: center;
      position: relative;
      display: flex;
      line-height: 0;
      cursor: pointer;

      > span {
        align-self: center;
      }
    }
  }

  &.in-active {
    opacity: 0.3;
    transition: all 0.1s;
  }

  &.active {
    opacity: 1;
    transition: all 0.1s;

    .border-control-content {
      .border-content {
        &:hover {
          background-color: $gray-300;
        }
      }

      .bullet {
        &:hover {
          background-color: $gray-300;
        }
      }
    }
  }

  &:first-child {
    margin-left: 0;
  }

  .tabs {
    padding: 0 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: right;
    position: relative;

    > div.sub-title {
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 0;
    }

    > div.tab-item {
      min-width: 50px;
      display: inline-block;
      padding: 0.3rem 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      cursor: pointer;
      line-height: 100%;
      text-align: center;
      position: relative;
      top: 1px;
      background-color: $light;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.7);
      }

      &.selected {
        border-bottom-color: $white;
        background-color: $white;
      }

      &:nth-child(2n) {
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-left: none;
        border-top-right-radius: 2px;
      }
    }
  }

  .border-picker-div {
    position: absolute;
    top: 21px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    background-color: $white;
    display: none;
    padding-top: 0.5rem;
    left: -122px;

    &.open {
      display: block;
    }

    .color-picker-content {
      width: 260px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      > div {
        > div {
          box-shadow: none !important;
        }
      }

      .material-border-picker {
        width: 100% !important;
        padding: 0.75rem 0.75rem 0 !important;
        height: auto !important;
        font-family: LGSmHaB !important;

        > div {
          input {
            font-size: 12px !important;
            height: 22px !important;
          }
        }

        .flexbox-fix {
          padding-top: 4px !important;

          input {
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
          }

          span {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .swatches-border-picker {
      > div {
        > div {
          box-shadow: none !important;
          > div {
            > div {
              padding: 0.5rem 0 0 0.5rem !important;

              > div {
                width: 30px !important;
                margin-right: 4px !important;

                > span {
                  > div {
                    width: 30px !important;
                    height: 30px !important;
                    border-top-left-radius: 50% !important;
                    border-top-right-radius: 50% !important;
                    border-bottom-left-radius: 50% !important;
                    border-bottom-right-radius: 50% !important;
                    margin-bottom: 4px !important;
                    overflow: visible !important;

                    > div {
                      border: 2px solid rgba(0, 0, 0, 0.4);
                      width: 100%;
                      height: 100%;
                      margin-left: 0 !important;
                      border-radius: 50%;
                      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
                    }

                    svg {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          > div::-webkit-scrollbar {
            width: 7px;
            height: 7px;
            background-color: rgba(0, 0, 0, 0.2);
            background-color: #333;
          }

          > div::-webkit-scrollbar-thumb {
            background-color: #1d88ea;
            background-color: rgba(0, 0, 0, 0.6);
            background-color: #fcdc3b;
          }
        }
      }
    }
  }

  .sub-title {
    color: rgb(153, 153, 153);
    padding: 0 0.5rem;
    font-size: 11px;
    font-family: LGSmHaB;
  }

  .border-width {
    padding: 0.25rem 0.5rem 0.5rem;

    .border-width-selector {
      z-index: 2;

      width: 70px;
      display: inline-block;

      .select-control-list {
        top: 19px;
      }
    }
  }

  .border-style {
    padding: 0.25rem 0.5rem 0.5rem;
    > button {
      display: inline-block;
      height: 20px;
      width: 30px;
      position: relative;

      &.selected {
        background-color: $yellow;
      }

      div.style-item {
        position: absolute;
        top: 8px;
        height: 10px;
        left: 5px;
        right: 5px;
        border-top: 2px solid rgba(0, 0, 0, 0.4);

        &.style-none {
          border-style: none;
        }

        &.style-solid {
          border-top-style: solid;
        }

        &.style-dashed {
          border-top-style: dashed;
        }

        &.style-dotted {
          border-top-style: dotted;
        }

        &.style-double {
          border-top-style: double;
          border-top: 3px solid rgba(0, 0, 0, 0.4);
          top : 7px;
        }
      }
    }
  }
}
