.breadcrumbs-wrapper {
  flex-grow: 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .arrow {
      color: $blue;
      font-size: 0.7rem;
      position: relative;
      top: -1px;
    }

    > li {
      display: inline-block;

      a {
        border-radius: 10px;
        margin-right: 5px;
        margin-left: 5px;

        &:hover {
          color: darken($blue, 10%);
        }

        @media (max-width: 576px) {
          background-color: transparent;
          color: $blue;
          margin-right: 0;
          margin-left: 0;
        }
      }

      &:first-child {
        a {
          margin-left: 0;
        }
      }
    }
  }
}
