.page-manager-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  .page-list-layout {
    width: 240px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background-color: $gray-200;


    .page-list{
      background-color: $white;
      background-color: $gray-200;
      flex-grow: 1;
      position: relative;

      > div {
        position: absolute;
        top : 0;
        left : 0;
        right : 0;
        bottom : 0;
        overflow-y: auto;
        padding: 1rem 1rem 1rem 1rem;

        .react-resizable-handle {
          display: none;
        }
      }

    }
  }

  .page-editor {
    flex-grow: 1;
    _background-color: #1c7430;
  }
}
