.content-viewer-user-popup-wrapper {
  height: 100%;
  position: relative;

  .filter-buttons {
    text-align: right;
    line-height: 0;
    padding: 0.5rem 0.25rem;
    position: sticky;
    top : 0;
    z-index: 1;
    background-color: $light;




    button {
      font-size: 10px;
      padding: 0;
      line-height: 100%;
      padding: 4px;
      margin-left: 0.25rem;

      &.selected {
        background-color: $primary;
        color: $white;
      }
    }
  }

  .content-popup-content {
    height: calc(100% - 36px);
  }

  .row {
    .col:first-child {
      .user-card {
        border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
      }
    }
  }

  .no-ban-users {
    height: calc(100% - 36px);
  }

  &.multi-row {
    .filter-buttons {
      padding-top: 0;
    }

    .no-ban-users {
      height: calc(100% - 28px);
    }
  }
}
