.share-side-menu-wrapper {
  > span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $white;
    background-color: $gray-300;
    display: inline-block;
    color: $black;
    text-align: center;
    padding-top: 3px;
    font-size: 16px;
    margin-right: 5px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $white;
      cursor: pointer;
      transition: 0.3s all;
    }

    &.on-off-button {
      .on-off {
        position: absolute;
        top: -7px;
        left: 12px;
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.7);

        border-radius: 50%;
      }

      &.on {
        .on-off {
          background-color: $yellow;
        }
      }

      &.off {
      }
    }
  }
}
