.topic-card-wrapper {
  border: 1px solid transparent;
  height: 220px;
  border-radius: 3px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
  vertical-align: top;

  .config-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .private {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    background-color: $danger;
    line-height: 100%;
    padding: 3px 4px 2px;
    color: $white;
    border-radius: 3px;
    font-family: 'Baloo Bhai', cursive;
  }

  .card-body {
    display: flex;
    text-align: center;

    > div {
      align-self: center;
      vertical-align: middle;
      width: 100%;
    }

    .topic-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .new-topic-content {
        align-self: center;
        justify-content: center;
        vertical-align: middle;
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;

        .new-topic-icon {
          font-size: 40px;
        }
      }

      .topic-title {
        flex: 0;
        padding: 0.25rem;
        font-size: 1.1rem;
        font-weight: bold;
      }

      .topic-summary {
        flex: 0;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        min-height: 38px;
        width: 100%;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5rem;
      }

      .topic-description {
        display: flex;
        flex: 1;
        _border: 1px solid $border-color;
        border-radius: 5px;
        background-color: $light;

        .icon {
          align-self: center;
          flex: 0;
          color: white;
          display: inline-block;
          min-width: 120px;
          width: 120px;
          height: 60px;
          font-size: 24px;
          text-align: center;
          padding: 0 30px;

          > div {
            width: 60px;
            height: 60px;
            background-color: $gray-400;
            background-color: $primary;
            border-radius: 50%;
          }
        }

        .counts {
          flex: 1;
          align-self: center;
          > div {
            display: flex;
            align-self: center;
            > div {
              flex: 1;

              .level-icon {
                font-size: 1.2rem;
                margin-bottom: 8px;

                i {
                  background-color: $yellow;
                  display: inline-block;
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  justify-content: center;
                  padding-top: 6px;
                }
              }

              .level-count {
                font-family: 'Baloo Bhai', cursive;
                font-size: 1.1rem;
                line-height: 100%;
              }

              .tag {
                display: inline-block;
                font-size: 0.7rem;
                line-height: 100%;
                border-radius: 3px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .topic-card-wrapper:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}
