.user-card-wrapper {
  text-align: center;
  position: relative;
  border: 1px solid $border-color;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  .remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .marked-tag {
    font-size: 0.6rem;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 5px;
    background-color: $danger;
    color: $white;
    padding: 1px 5px;
    border-radius: 3px;
  }

  .user-card-content {
    display: block;
    align-items: center;

    > div {
      align-items: center;
      &.user-icon {
        width: 60px;
        height: 60px;
        text-align: center;
        margin: 0 auto;

        > span {
          display: inline-block;
          width: 60px;
          height: 60px;
          font-size: 34px;
          border-radius: 50%;
          padding-top: 5px;
          background-color: $white;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      &.user-text {
        background-color: lighten($secondary, 60%);
        background-color: #f0f5f1;
        background-color: #EEF3F7;
        text-align: left;
        align-items: center;
        margin: -30px -1.25rem -1.25rem;
        padding: 30px 1rem 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0 0 5px 5px;

        .name {
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
        }

        .email {
          font-size: 0.8rem;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          text-transform: uppercase;
          _font-weight: bold;
        }
      }
    }
  }

  &.hover {
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $primary;
      .user-icon {
        > span {
          background-color: transparent !important;
          color: $white;
        }
      }
    }
  }

  &.selected {
    color: $white;
    background-color: $primary;
    .user-icon {
      > span {
        background-color: transparent !important;
        color: $white !important;
      }
    }

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
