.user-card-wrapper {
  text-align: center;
  position: relative;

  .remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .marked-tag {
    font-size: 0.6rem;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 5px;
    background-color: $danger;
    color: $white;
    padding: 1px 5px;
    border-radius: 3px;
  }

  .user-card-content {
    display: flex;
    align-items: center;

    > div {
      align-items: center;
      &.user-icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        text-align: center;

        > span {
          display: inline-block;
          width: 50px;
          height: 50px;
          font-size: 28px;
          background-color: $gray-300;
          color: $gray-600;
          border-radius: 50%;
          padding-top: 5px;
        }
      }

      &.separator {
        display: none;
      }

      &.user-text {
        flex: 1;
        text-align: left;
        align-items: center;
        padding: 0 0 0 0.5rem;
        width: calc(100% - 50px);

        .name {
          font-size: 0.8rem;
        }

        .email {
          font-size: 0.7rem;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &.block-style {
    .user-card-content {
      display: block;

      > div {
        &.user-icon {
          width: 100%;
        }

        &.separator {
          height: 1px;
          padding: 0 1rem;
          margin: 0.5rem 0;
          display: block;
          > div {
            width: 100%;
            height: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
        }

        &.user-text {
          padding: 0.25rem 0;
          text-align: center;
        }
      }
    }
  }

  &.card {
    border: 1px solid $border-color;
    border-radius: 2px;
  }

  &.hover {
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $primary;
      .user-icon {
        > span {
          background-color: transparent !important;
          color: $white;
        }
      }
    }
  }

  &.selected {
    color: $white;
    background-color: $primary;
    .user-icon {
      > span {
        background-color: transparent !important;
        color: $white !important;
      }
    }

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
