.user-card-wrapper {
  text-align: center;
  position: relative;
  border: 1px solid #a8a8a8 !important;
  border-radius: 2px;

  .remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .marked-tag {
    font-size: 0.6rem;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 5px;
    background-color: $danger;
    color: $white;
    padding: 1px 5px;
    border-radius: 3px;
  }

  .card-body {
    padding: 0.75rem;
  }

  .user-card-content {
    display: block;
    align-items: center;

    > div {
      align-items: center;
      &.user-icon {
        width: 60px;
        height: 60px;
        text-align: center;
        margin: 0 auto;

        > span {
          display: inline-block;
          width: 60px;
          height: 60px;
          font-size: 34px;
          border-radius: 50%;
          padding-top: 5px;
          background-color: $white;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      &.user-text {
        background-color: #eef3f7;
        background-color: $light;
        text-align: left;
        align-items: center;
        margin: -30px -0.75rem -0.75rem;
        padding: 30px 0.75rem 0.75rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0 0 2px 2px;

        .name {
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
        }

        .email {
          font-size: 0.8rem;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          text-transform: uppercase;
          _font-weight: bold;
        }
      }
    }
  }

  &.edit {
    &:hover {
      cursor: pointer;
      border-color: $primary;
    }
  }

  &.selected {
    background-color: $primary;
    border-radius: 2px;

    .card-body {
      border-radius: 2px;
    }
    .user-icon {
      > span {
        border: 4px solid black;
      }
    }

    &:hover {
      border-color: $primary;
    }
  }
}
