.topic-card-wrapper {
  border: none !important;
  height: 210px;
  border-radius: 3px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
  position: relative;
  vertical-align: top;

  .private {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    background-color: $danger;
    line-height: 100%;
    padding: 3px 4px 2px;
    color: $white;
    border-radius: 3px;
    font-family: 'Baloo Bhai', cursive;
  }

  .card-body {
    display: flex;
    text-align: center;

    > div {
      align-self: center;
      vertical-align: middle;
      width: 100%;
    }

    .topic-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .new-topic-content {
        align-self: center;
        justify-content: center;
        vertical-align: middle;
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;

        .new-topic-icon {
          font-size: 40px;
        }
      }

      .topic-title {
        flex: 0;
        padding: 0.25rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow-x: hidden;
        min-height: 34px;
        text-overflow: ellipsis;
      }

      .topic-summary {
        flex: 0;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        min-height: 45px;
        width: 100%;
        text-align: justify;
        overflow-y: hidden;
        text-overflow: ellipsis;
        background-color: $secondary;
        background-color: $secondary;
        background-color: $light;

        border-radius: 5px;
        border-radius: 2px;
        align-items: center;
        display: flex;
        padding: 0.5rem;
      }

      .topic-card-buttons {
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: row;

        > div {
          align-self: center;

          &.button {
            flex: 1 1 0;
            height: 100%;
            display: flex;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            min-height: 75px;

            &.disable {
              opacity: 0.3;
              cursor: auto;
            }

            &.enable:hover {
              @media (min-width: 768px) {
                background-color: $yellow;
              }
            }
          }

          &.separator {
            min-width: 9px;
            flex-grow: 0;

            > div {
              height: 20px;
              width: 1px;
              margin: 0 4px;
              background-color: $gray-300;
            }
          }

          .icon {
            font-size: 24px;
          }

          .text {
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .topic-card-wrapper:hover {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);

    .new-topic-content {
      color: $primary;
    }
  }
}
