.user-search-popup-wrapper {
  .user-search-row {
    margin: 0;
    display: flex;

    .user-search-col {
      padding: 0;
      flex: 1;

      &:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    .manager-col {
      flex: 0;
      min-width: 280px;
      max-width: 280px;
    }
  }

  .user-search-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;

    @media (max-height: 800px) {
      height: 500px;
    }

    @media (max-height: 700px) {
      height: 450px;
    }

    @media (max-height: 600px) {
      height: 400px;
    }

    @media (max-height: 550px) {
      height: 300px;
    }

    @media (max-height: 450px) {
      height: 300px;
    }

    .title-bar,
    .search-bar {
      min-height: 60px;
      display: flex;
      align-self: center;
      background-color: $light;
      padding: 0 1.5rem;
      flex: 0;
      width: 100%;
      _border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      @media (max-width: 992px) {
        min-height: 50px;
      }

      @media (max-width: 576px) {
        padding: 0 0.5rem;
      }

      > div {
        align-self: center;

        &.grp-col {
          padding-right: 1rem;

          @media (max-width: 576px) {
            padding-right: 0.5rem;
          }

          .grp-selector {
            min-width: 100px;

            @media (max-width: 576px) {
              min-width: 80px;
              max-width: 100px;
            }
          }
        }

        &.search-col {
          flex: 1;
          padding-right: 1rem;
          @media (max-width: 576px) {
            padding-right: 0.5rem;
          }
        }

        &.button-col {
          flex: 0;
        }
      }
    }

    .title-bar {
      padding: 0;
      text-align: center;
      border-bottom: none;
      background-color: $white;
      height: auto;
      min-height: auto;

      > div {
        flex: 1;
        align-self: center;

        > span {
          display: inline-block;
          font-size: 0.8rem;
          margin-top: 1rem;
        }
      }
    }

    .user-select-result,
    .user-search-result {
      flex: 1;
      display: flex;
      width: 100%;
      overflow-y: auto;
      padding: 1rem 1rem 0;
    }
  }

  .popup-buttons {
    background-color: #ededed;
  }
}
