.level-properties-wrapper {
  .level-title {
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;

    @media (max-width: 992px) {
      display: none;
    }

    .title {
      flex-grow: 0;
    }

    .left-line,
    .right-line {
      flex-grow: 1;
      align-self: center;
      position: relative;
      > div {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.4);
        align-self: center;

        @media (max-width: 992px) {
          opacity: 0;
        }

        &.rect {
          width: 12px;
          height: 12px;
          background: transparent;
          border-top: 1px solid rgba(0, 0, 0, 0.4);
          border-right: 1px solid rgba(0, 0, 0, 0.4);
          position: absolute;
          top: -5px;
          right: 17px;
          transform: rotate(45deg);
        }
      }
    }

    .left-line {
      padding-right: 1rem;
    }

    .right-line {
      padding-left: 1rem;
    }
  }

  &.left-line-none {
    .left-line {
      > div {
        opacity: 0;
      }
    }
  }

  &.right-line-none {
    .right-line {
      > div {
        opacity: 0;
      }
    }
  }

  &.right-border {
    .level-content {
      border-right: 1px dashed rgba(0, 0, 0, 0.2);
      @media (max-width: 992px) {
        border-right: none;
      }
    }
  }

  .level-content {
    padding: 0 1.5rem;

    @media (max-width: 992px) {
      padding: 0 1rem 0.5rem;
    }

    &.empty {
      padding-top: 150px;
      height: 392px;

      @media (max-width: 992px) {
        height: 400px;
      }
    }

    .level-row {
      height: 70px;
      .level-label {
        font-size: 0.8rem;
        padding: 0.5rem 0 0.25rem;
      }

      .level-control {
        .text-value {
          padding: 0.25rem;
          font-size: 0.9rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        .color-value {
          font-size: 0.9rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          padding: 0.25rem;
          > span {
            display: inline-block;
            width: 13px;
            height: 13px;
            position: relative;
            top : 2px;
            margin-left: 0.25rem;
            border : 1px solid rgba(0, 0, 0, 0.3);
          }
        }

        .color-control-wrapper {
          .color-picker-div {
            left: 0 !important;
            top: 32px;
          }
        }

        .padding-control-wrapper {
          .padding-picker-div {
            top: 27px;
            left: 0;
          }
        }
      }
    }
  }

  .clear-button {
    height: 42px;
  }
}
