.popup-wrapper {
  align-items: center;
  overflow-y: auto;
  > div {
    max-width: 1400px;
    background-color: $white;
    margin: 0 auto;
    border-radius: 1px;
    position: relative;

    @media (max-width: 1440px) {
      max-width: none;
      margin: 0 40px;
    }

    @media (max-width: 768px) {
      max-width: none;
      margin: 0 1rem;
    }

    .popup-title {
      font-size: 1.1rem;
      padding: 1rem;
      background-color: $white;
      border-radius: 1px 1px 0 0;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    .close-popup-button {
      position: absolute;
      top: 16px;
      right: 10px;
    }

    .popup-buttons {
      _border-top: 1px solid rgba(0, 0, 0, 0.2);
      text-align: right;
      padding: 1rem;

      @media (max-width: 768px) {
        text-align: center;
      }

      button {
        font-size: 0.8rem !important;
      }
    }
  }

  &.full {
    > div {
      height: calc(100% - 40px);
      margin: 20px auto;
      background-color: $white;
    }
  }
}
