button.btn {
  border-radius: 2px;
  white-space: nowrap;

  &.disabled {
    opacity: 0.4;
  }

  &.btn-xs {
    padding: 1px 6px;
    font-size: 0.7rem;
  }

  &.btn-sm {
    line-height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.g-pure-button {
    background-color: transparent;
    border: none;

    &:active {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.g-compact-button {
    padding: 3px 4px 1px;
    line-height: 100%;
  }

  &.g-icon-text-button {
    padding: 0;
    border-radius: 1px;

    > div {
      display: flex;
      span:first-child {
        width: 30px;
        text-align: center;
        display: inline-block;
        padding: 5px;
      }

      span:last-child {
        padding: 5px 12px 5px 5px;
        display: inline-block;
        text-align: left;
        align-self: center;
      }
    }
  }

  &.g-image-text-button {
    padding: 0;
    border-radius: 1px;

    > div {
      display: flex;
      span:first-child {
        width: 40px;
        text-align: center;
        display: inline-block;
        padding: 5px;
        img {
          width: 29px;
          height: 29px;
          border-radius: 2px;
        }
      }

      span:last-child {
        padding: 5px 10px 5px 5px;
        display: inline-block;
        text-align: left;
        align-self: center;
      }
    }
  }

  &.g-image-button {
    padding: 0;
    border-radius: 50%;

    > div {
      display: inline-block;
      img {
        width: 29px;
        height: 29px;
        border-radius: 50%;
      }
    }
  }

  &.g-icon-button {
    padding: 0;
    border-radius: 50%;

    > div {
      display: inline-block;
      width: 29px;
      height: 29px;
      border-radius: 50%;
    }

    &.btn-sm {
      > div {
        display: flex;
        width: 20px;
        height: 20px;

        i {
          flex-grow: 1;
          align-self: center;
          text-align: center;
        }
      }
    }
  }

  &.btn-facebook {
    background-color: #3b5998;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-kakao {
    background-color: #f7e600;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-naver {
    background-color: #1ec800;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-google {
    background-color: #4285f4;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-facebook,
  &.btn-kakao,
  &.btn-naver,
  &.btn-google {
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-white {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $yellow;
    }

    &.disabled:hover {
      background-color: $white;
    }
  }

  &.btn-outline-white {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: $white;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.7);
    }
  }

  &.btn-black {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $yellow;
    }

    &.disabled:hover {
      background-color: $white;
    }
  }

  &.btn-transparent {
    background-color: transparent;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }

    &.disabled:hover {
      background-color: transparent;
    }
  }

  &.btn-outline-black {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: $white;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
}

.g-circle-icon-button {
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50% !important;
  margin-left: 0.25rem;
  font-size: 16px;
  padding: 1px 0 0;

  &.btn-sm {
    width: 24px;
    height: 24px;
    padding: 1px 0 0 !important;
  }
}
