h1 {
    font-size: 2rem;
}

div.g-category-label {
    font-family: LGSmHaR;
    margin-bottom: 0.25rem;
}

span.g-shareplates {
    font-family: Righteous, cursive;
    _background-color: $primary;
    _color: $white;
}