.table th,
.table td {
  line-height: 120%;
}

.table th {
  background-color: $light;
}

.table tr {
  &:last-child {
    td {
      border-bottom: 1px solid $table-border-color;
    }
  }
}

.table thead th {
  border-top: none;
  border-bottom: none;
  background-color: #333;
  color: $white;

  &:first-child {

  }

  &:last-child {

  }

  @media (max-width: 1240px) {
    &:first-child {
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }
  }
}

.table {
  &.table-hover {
    tbody {
      tr {
        cursor: pointer;

        td {
          border-bottom: 1px solid $table-border-color;
        }

        &:first-child {
          td {
            border-top: 1px solid $table-border-color;
          }
        }

        &.selected {
          background-color: $yellow;
          &:hover {
            background-color: darken($yellow, 5%);
          }
        }
      }
    }
    tr:hover {
      background-color: $yellow;
    }
  }
}

.table.g-sticky {
  th {
    position: sticky;
    top: 0;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 2;
  }
}

.table-sm th,
.table-sm td {
  padding: 0.6rem;
}

table.g-info-table {
  tr {
    &:last-child {
      td,
      th {
        border-bottom: 1px solid $table-border-color;
      }
    }
  }
}
