h1 {
  font-size: 2rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.8rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
  }
}

div.g-category-label {
  font-family: LGSmHaR;
  margin-bottom: 0.25rem;
}

span.g-shareplates {
  font-family: Righteous, cursive;
  _background-color: $primary;
  _color: $white;
}

.g-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}