button.btn {
  border-radius: 2px;
  white-space: nowrap;

  &.btn-xs {
    padding: 2px 6px;
    font-size: 0.7rem;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.g-pure-button {
    background-color: transparent;
    border: none;

    &:active {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.g-compact-button {
    padding: 3px 4px 1px;
    line-height: 100%;
  }

  &.g-icon-text-button {
    padding: 0;
    border-radius: 1px;

    > div {
      display: flex;
      span:first-child {
        width: 30px;
        text-align: center;
        display: inline-block;
        padding: 5px;
      }

      span:last-child {
        padding: 5px 12px 5px 5px;
        display: inline-block;
        text-align: left;
        align-self: center;
      }
    }
  }

  &.g-image-text-button {
    padding: 0;
    border-radius: 1px;

    > div {
      display: flex;
      span:first-child {
        width: 40px;
        text-align: center;
        display: inline-block;
        padding: 5px;
        img {
          width: 29px;
          height: 29px;
          border-radius: 2px;
        }
      }

      span:last-child {
        padding: 5px 10px 5px 5px;
        display: inline-block;
        text-align: left;
        align-self: center;
      }
    }
  }

  &.g-image-button {
    padding: 0;
    border-radius: 50%;

    > div {
      display: inline-block;
      img {
        width: 29px;
        height: 29px;
        border-radius: 50%;
      }
    }
  }

  &.g-icon-button {
    padding: 0;
    border-radius: 50%;

    > div {
      display: inline-block;
      width: 29px;
      height: 29px;
      border-radius: 50%;
    }
  }

  &.btn-facebook {
    background-color: #3b5998;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-kakao {
    background-color: #f7e600;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-naver {
    background-color: #1ec800;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-google {
    background-color: #4285f4;
    color: $white;
    span:last-child {
      min-width: 120px;
    }
  }

  &.btn-facebook,
  &.btn-kakao,
  &.btn-naver,
  &.btn-google {
    span:last-child {
      min-width: 120px;
    }
  }
}
