.share-controller-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;

  > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    height: 60px;
    background-color: $sea-blue;
    min-height: 60px;
    color: $white;
    flex: 0;
    width: 100%;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 0;
    }

    .space {
      flex: 1 1 0;
    }
  }

  > .share-controller-top {
    flex-grow: 0;
    position: relative;
    padding: 0.5rem 0.5rem 0;
    background-color: $primary;
    color: $white;

    .tabs {
      display: flex;
      flex-direction: row;
      .tab-item {
        font-size: 0.8rem;
        flex: 1 1 0;
        padding: 0.6rem 0.5rem;
        z-index: 2;
        margin-right: 0;

        &.selected {
          color: #333;
        }
      }
    }

    .marker {
      position: absolute;
      top: 0.5rem;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 0.5rem;
      z-index: 1;
      > div {
        background-color: #333;
        background-color: $white;
        color: #333;
        width: calc((100%) / 4);
        height: 100%;
        position: relative;
        transition: left 0.3s;
        border-radius: 4px 4px 0 0;
        border-radius: 0;
      }
    }
  }

  > .controller-content {
    flex-grow: 1;
    display: flex;
    position: relative;
    background-color: $white;

    .message {
      text-align: left;
      background-color: #efefef;
      padding: 1rem;
    }

    .card {
      _background-color: $light;
      _border: 1px solid rgba(0,0,0,0.05) !important;
      _box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.05) !important;

    }


    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;



      > div.content-layout {
        width: 400%;
        height: 100%;
        display: flex;
        position: relative;
        left: -100%;
        transition: left 0.3s;

        > div.share-controller-item {
          align-self: center;
          width: 100%;
          height: 100%;
          font-size: 0.8rem;
          position: relative;
          display: flex;
          flex-direction: column;

          .card {
            box-shadow: none;
            border-radius: 0;
          }

          .label {
            color: $gray-700;
            margin-right: 0.5rem;
          }

          .value {
            font-size: 0.9rem;
          }

          .line {
            display: flex;
            flex-direction: row;
            padding: 0.5rem 0;

            > .label,
            > .separator {
              flex-grow: 0;
              align-self: center;
              white-space: nowrap;
            }

            > .value {
              flex-grow: 1;
              align-self: center;
            }
          }
        }
      }
    }
  }
}
