.user-manager-wrapper {
  _height: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  .list {
    margin: 0;
    text-align: left;
    padding-bottom: 0.5rem;

    .user-col {
      vertical-align: top;
      width: calc((100% - 50px) / 6);
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(6n) {
        margin-right: 0;
      }

      @media (max-width: 1600px) {
        width: calc((100% - 40px) / 5);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1400px) {
        width: calc((100% - 30px) / 4);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 10px;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media (max-width: 1200px) {
        width: calc((100% - 20px) / 3);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 10px;
        }

        &:nth-child(4n) {
          margin-right: 10px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 900px) {
        width: calc((100% - 10px) / 2);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 10px;
        }

        &:nth-child(4n) {
          margin-right: 10px;
        }

        &:nth-child(3n) {
          margin-right: 10px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
        display: inline-block;
        margin-right: 0;
      }
    }
  }

  .list.in-popup-list {
    margin: 0;

    .user-col {
      width: calc((100% - 30px) / 4);
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(6n) {
        margin-right: 10px;
      }

      &:nth-child(5n) {
        margin-right: 10px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media (max-width: 1300px) {
        width: calc((100% - 20px) / 3);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 10px;
        }

        &:nth-child(4n) {
          margin-right: 10px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @media (max-width: 900px) {
        width: calc((100% - 10px) / 2);
        display: inline-block;

        &:nth-child(6n) {
          margin-right: 10px;
        }

        &:nth-child(5n) {
          margin-right: 10px;
        }

        &:nth-child(4n) {
          margin-right: 10px;
        }

        &:nth-child(3n) {
          margin-right: 10px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
        display: inline-block;
        margin-right: 0;
      }
    }
  }

  .list.single-row {
    .user-col {
      margin-right: 0;
      width: 100%;
    }
  }

  .empty-content {
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .info-icon {
      font-size: 24px;
    }
  }
}
