$rotate-seconds: 3s;
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes zooming {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zooming {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.logo-wrapper {
  font-family: 'Righteous', cursive;
  text-align: center;
  position: relative;
  height: 100%;

  .logo-text {
    > span {
      display: inline-block;
      background-color: $primary;
      line-height: 100%;
      padding: 4px 8px 4px;
      border-radius: 4px 0 4px 0;
      color: $white;
    }
  }

  &.hide-text {
    .logo-text {
      display: none;
    }
  }

  &.sm {
    .logo-img {
      svg {
        width: 50px;
        height: 50px;
      }
    }

    .logo-text {
      position: static;
      font-size: 0.75rem;
    }

    &.overlap-text {
      .logo-text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
      }
    }

    &.rotate {
      .logo-text {
        -webkit-animation: zooming $rotate-seconds linear infinite;
        -moz-animation: zooming $rotate-seconds linear infinite;
        -ms-animation: zooming $rotate-seconds linear infinite;
        -o-animation: zooming $rotate-seconds linear infinite;
        animation: zooming $rotate-seconds linear infinite;
        animation-timing-function: ease-in-out;
      }
      .logo-hair {
        -webkit-animation: rotating $rotate-seconds linear infinite;
        -moz-animation: rotating $rotate-seconds linear infinite;
        -ms-animation: rotating $rotate-seconds linear infinite;
        -o-animation: rotating $rotate-seconds linear infinite;
        animation: rotating $rotate-seconds linear infinite;
        transform-origin: 47px 47px;
      }
    }
  }

  &.md {
    .logo-img {
      svg {
        width: 80px;
        height: 80px;
      }
    }

    .logo-text {
      position: static;
      font-size: 1rem;
    }

    &.overlap-text {
      .logo-text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
      }
    }

    &.rotate {
      .logo-text {
        -webkit-animation: zooming $rotate-seconds linear infinite;
        -moz-animation: zooming $rotate-seconds linear infinite;
        -ms-animation: zooming $rotate-seconds linear infinite;
        -o-animation: zooming $rotate-seconds linear infinite;
        animation: zooming $rotate-seconds linear infinite;
        animation-timing-function: ease-in-out;
      }

      .logo-hair {
        -webkit-animation: rotating $rotate-seconds linear infinite;
        -moz-animation: rotating $rotate-seconds linear infinite;
        -ms-animation: rotating $rotate-seconds linear infinite;
        -o-animation: rotating $rotate-seconds linear infinite;
        animation: rotating $rotate-seconds linear infinite;
        transform-origin: 47px 47px;
      }
    }
  }

  &.lg {
    .logo-img {
      svg {
        width: 100px;
        height: 100px;
      }
    }

    .logo-text {
      position: static;
      font-size: 1.3rem;
    }

    &.overlap-text {
      .logo-text {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
      }
    }

    &.rotate {
      .logo-text {
        -webkit-animation: zooming $rotate-seconds linear infinite;
        -moz-animation: zooming $rotate-seconds linear infinite;
        -ms-animation: zooming $rotate-seconds linear infinite;
        -o-animation: zooming $rotate-seconds linear infinite;
        animation: zooming $rotate-seconds linear infinite;
        animation-timing-function: ease-in-out;
      }

      .logo-hair {
        -webkit-animation: rotating $rotate-seconds linear infinite;
        -moz-animation: rotating $rotate-seconds linear infinite;
        -ms-animation: rotating $rotate-seconds linear infinite;
        -o-animation: rotating $rotate-seconds linear infinite;
        animation: rotating $rotate-seconds linear infinite;
        transform-origin: 47px 47px;
      }
    }
  }
}
