.radio-button-wrapper {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  button {
    font-size: 11px;
    border: none;
    outline: none;
    min-width: 34px;
    background-color: $light;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      @media (min-width: 992px) {
        background-color: darken($light, 4%);
      }
    }

    &.selected {
      background-color: $yellow;
      color: $black;
      &:hover {
        @media (min-width: 992px) {
          background-color: darken($yellow, 4%);
        }
      }
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &.circle {
      border-radius: 50%;
      min-width: auto;
      padding: 2px 0 0;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: 1px solid $border-color;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.outline {
    button {
      border: 1px solid $border-color;
      border-right: none;

      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
  }

  &.sm {
    height: 20px;

    button {
      &.circle {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.md {
    height: 28px;

    button {
      &.circle {
        width: 28px;
        height: 28px;
      }
    }
  }

  &.lg {
    height: 28px;

    button {
      &.circle {
        width: 28px;
        height: 28px;
        font-size: 14px;
      }
    }
  }
}
