$grap-size: 8px;
$sizer-size: 14px;

.page-item {
  &.editable {
    &:hover {
      .with-page-item-wrapper {
        outline: 1px dashed rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.with-page-item-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  &.editable {
    &:hover {
      outline: 3px solid #AAA;
      outline-offset: -1px;
    }

    &.show-layout {
      outline: 3px solid #AAA;
      outline-offset: -1px;
    }

    &.selected {
      outline: 3px solid $primary;
      outline-offset: -1px;
    }
  }

  &:hover {
    z-index: 2;
  }

  &.dragging {
    background-color: $yellow;
    opacity: 0.5;
  }

  .remove-item-button {
    line-height: 0;
    font-size: 20px;
    width: 21px;
    height: 21px;
    _background-color: $light;
    color: $danger;
    text-align: center;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
    z-index: 3;
    cursor: pointer;
    display: none;

    &:hover {
      color: darken($danger, 10%);
    }
  }

  &.editable {
    &:hover,
    &.selected {
      .remove-item-button {
        display: inline-block;
      }
    }
  }

  .grab {
    position: absolute;
    display: none;
    z-index: 1;
    &:hover {
      cursor: move;
    }
  }

  &.editable {
    .grab {
      display: block;
    }
  }

  .grab-top {
    height: $grap-size;
    width: 100%;
    top: -$grap-size;
    left: 0;
  }

  .grab-left {
    width: $grap-size;
    height: 100%;
    left: -$grap-size;
    top: 0;
  }

  .grab-right {
    width: $grap-size;
    height: 100%;
    right: -$grap-size;
    top: 0;
  }

  .grab-bottom {
    height: $grap-size;
    width: 100%;
    bottom: -$grap-size;
    left: 0;
  }

  .anti-mover {
    width: 100%;
    height: 100%;
  }

  .sizer {
    position: absolute;
    text-align: center;
    line-height: 0;
    z-index: 2;
    display: none;

    > span {
      width: $sizer-size;
      height: $sizer-size;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.4);
      background-color: $white;
    }

    &:hover {
      cursor: move;
    }

    &.bottom {
      height: 0;
      width: 100%;
      bottom: 7px;
      left: 0;
      cursor: s-resize;
    }
  }

  &.editable {
    &:hover,
    &.selected {
      .sizer {
        display: block;

        &.right {
          display: flex;
        }
      }
    }
  }
}
