.page-title-wrapper {
  flex-grow: 0;
  line-height: 0;
  padding: 1.5rem 1.5rem 1.5rem;
  position: relative;
  border-radius: 5px 5px 0 0;
  margin: -1.5rem -1.5rem 0;

  @media (max-width: 576px) {
    border-radius: 0;
  }

  &.has-border {
    border-bottom: 1px double rgba(0, 0, 0, 0.2);
  }

  > h1 {
    display: flex;
    align-self: center;
    margin-bottom: 0;

    > span {
      display: inline-block;
      align-self: center;
      vertical-align: middle;
    }

    .icon {
      flex-grow: 0;
      width: 23px;
      height: 23px;
      background-color: $secondary;
      color: $white;
      border-radius: 50%;
      overflow: hidden;
      font-size: 15px;
      text-align: center;
      padding-top: 2px;
      margin-right: 5px;

      &.selected {
        background-color: $yellow;
      }
    }

    .text {
      flex-grow: 1;
      font-size: 1.2rem;
      position: relative;
      top: 1px;
      white-space: nowrap;
      font-weight: bold;

    }
  }

  .page-title-button {
    position: absolute;
    top: 18px;
    right: 10px;
    text-align: right;
    line-height: 0;

    @media (max-width: 576px) {
      top: 18px;
    }

    > button {
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 50%;
      padding: 0;
      margin-left: 0.25rem;

      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
        margin-left: 0.3rem;
      }
    }
  }

  .breadcrumbs {
    flex-grow: 0;
    font-size: 0.7rem;
    line-height: 160%;
    position: absolute;
    top: 28px;
    right: 1.5rem;

    @media (max-width: 576px) {
    }
  }
}
