.login-wrapper {
  @media (min-width: 1200px) {
    max-width: 800px !important;
  }

  .find-user-account {
    font-size: 0.75rem;
  }

  .mobile-social-buttons {
    position: absolute;
    display: inline-block;
    right: 15px;

    button {
      margin-left: 0.25rem;
    }
  }

  @media (max-width: 576px) {
    .mobile-social-buttons {
      position: static;
      display: block;
      right: auto;
      padding: 1rem 0 0;
    }
  }
}
