.login-wrapper {
  .find-user-account {
    font-size: 0.75rem;
  }

  .need-login-message {
    text-align: center;
    margin-top: 1rem;

    > span {
      display: inline-flex;
      _color : $warning;
      _background-color: $secondary;
      font-size: 0.9rem;
      padding: 4px 12px;
      border-radius: 3px;
    }
  }

  .mobile-social-buttons {
    position: absolute;
    display: inline-block;
    right: 15px;

    button {
      margin-left: 0.25rem;
    }
  }

  @media (max-width: 576px) {
    .mobile-social-buttons {
      position: static;
      display: block;
      right: auto;
      padding: 1rem 0 0;
    }
  }
}
