.no-match-wrapper {
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;

  .error-image {
    text-align: center;
    img {
      width: 500px;
    }
  }

  .error-message {
    text-align: center;
    font-family: LGSmHaB;
    color: $white;
    font-size: 24px;
  }

  .error-buttons {
    text-align: center;

    button {
      margin: 1rem 0.5rem 0;
      min-width: 100px;
    }
  }
}
