.short-cut-menu-wrapper {
  display: flex;
  padding: 0 8px;

  > div {
    vertical-align: middle;
    align-self: center;

    &:first-child {
      flex: 1;
      text-align: right;
    }
  }

  .user-icon {
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;

    .hover-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      opacity: 0;
      transition: all 0.1s;
    }

    &:hover {
      .hover-item {
        opacity: 1;
        transition: all 0.1s;
      }
    }
  }

  .separator {
    display: inline-block;
    height: 10px;
    width: 3px;
    background-color: $white;
    margin: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    position: relative;
    top: 4px;
  }

  .language-button {
    margin-right: 16px;
  }

  .login-label {
    position: relative;
    top: 3px;
  }

  .no-login-menu {
    white-space: nowrap;
  }
}
