.short-cut-menu-wrapper {
  .separator {
    display: inline-block;
    height: 10px;
    width: 3px;
    background-color: $white;
    margin: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    position: relative;
    top: 1px;
  }

  .language-button {
    margin-right: 16px;
  }
}