.p-wrapper {
  padding: 0.25rem;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 0.5rem;

  @media (max-width: 576px) {
    font-size: 0.9rem;
  }

  &.pre {
    white-space: pre-wrap;
  }
}
