.p-wrapper {
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  margin-bottom: 0.75rem;
  background-color: $light;
  color: $black;

  @media (max-width: 576px) {
    font-size: 0.9rem;
  }

  &.pre {
    white-space: pre-wrap;
  }
}
