.p-wrapper {
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  background-color: $sub-content-color;
  background-color: $gray-700;
  color: $white;
  background-color: $white;
  color: $black;

  @media (max-width: 576px) {
    font-size: 0.9rem;
  }

  &.pre {
    white-space: pre-wrap;
  }
}
