.search-bar-wrapper {
  flex: 0;
  position: relative;
  background-color: #eee;
  background-color: $sea-blue;
  min-height: 50px;

  > div {
    height: 50px;
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    > div {
      vertical-align: middle;
      align-self: center;
    }

    .view-type-col {
      flex: 0;
      margin-right: 0.5rem;
    }

    .grp-col {
      flex: 0;
      white-space: nowrap;
      margin-right: 0.5rem;

      @media (max-width: 768px) {
        margin-right: 0.5rem;
      }

      .grp-selector {
        min-width: 120px;

        @media (max-width: 768px) {
          min-width: 80px;
        }
      }
    }

    .search-col {
      flex: 1;
      text-align: left;
      margin-right: 0.5rem;

      @media (max-width: 992px) {
        margin-right: 0;
      }

      @media (max-width: 768px) {
        padding-right: 0.5rem;
      }
    }

    .options {
      flex: 0;
      white-space: nowrap;
      display: block;
      border-radius: 3px;
      border-radius: 3px;

      .arrow {
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        text-align: right;
        height: 8px;
        margin: 0 !important;
        display: none;

        > div {
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          background-color: $white;
          display: inline-block;
          position: absolute;
          top: 1px;
          right: 16px;
          border-right: none;
          border-bottom: none;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }

      > div {
        display: inline-block;
      }

      .label {
        color: $white;
        @media (max-width: 768px) {
          color: $black;
        }
      }

      &.open {
        @media (max-width: 768px) {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 45px;
          background-color: $white;
          padding: 1rem;
          z-index: 12;

          .arrow {
            display: block;
          }

          > div {
            display: block;
            margin-bottom: 1rem;

            .label {
              width: 25px;
              display: inline-block;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .order-col {
      flex: 0;
      white-space: nowrap;
      vertical-align: middle;
      .label {
        top: 2px;
        align-self: center;
        position: relative;
        margin-right: 10px;
      }

      .separator {
        display: inline-block;
        height: 10px;
        background-color: white;
        width: 1px;
        margin: 0 0.5rem 0;
        position: relative;
        top: 4px;
      }
    }

    .config-col {
      z-index: 12;
    }
  }
}
