.new-share-wrapper {
  text-align: left;

  .refresh-button {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $yellow;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    padding-top: 3px;
    cursor: pointer;

    &:hover {
      background-color: darken($yellow, 2%);
    }
  }
}
