.topic-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .label {
    position: relative;
    margin-right: 0.5rem;
  }

  .topic-list-content {
    padding-top: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin: 0;

    .row {
      margin: 0;

      .topic-col {
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-bottom: 15px;


      }
    }
  }
}
