.topic-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .label {
    position: relative;
    margin-right: 0.5rem;
  }

  .search-bar {
    flex: 0;
    position: relative;
    background-color: #eee;
    background-color: rgb(9, 120, 174);
    min-height: 50px;

    > div {
      height: 50px;
      display: flex;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      padding-left: 1rem;
      padding-right: 1rem;

      @media (max-width: 1200px) {
        padding: 0 1rem;
      }

      > div {
        vertical-align: middle;
        align-self: center;
      }

      .search-col {
        flex: 1;
        text-align: left;
        margin-right: 1rem;
        padding-right: 0.5rem;

        @media (max-width: 992px) {
          margin-right: 0;
        }

        @media (max-width: 768px) {
          padding-right: 1rem;
        }
      }

      .options {
        flex: 0;
        white-space: nowrap;
        display: block;
        border-radius: 3px;
        border-radius: 3px;

        .arrow {
          position: absolute;
          top: -4px;
          left: 0;
          width: 100%;
          text-align: right;
          height: 8px;
          margin: 0 !important;
          display: none;

          > div {
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            background-color: $white;
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 16px;
            border-right: none;
            border-bottom: none;
          }
        }

        @media (max-width: 768px) {
          display: none;
        }

        > div {
          display: inline-block;
        }

        &.open {
          @media (max-width: 768px) {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 45px;
            background-color: $white;
            padding: 1rem;
            z-index: 12;

            .arrow {
              display: block;
            }

            > div {
              display: block;
              margin-bottom: 1rem;

              .label {
                width: 25px;
                display: inline-block;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .organization-col {
        flex: 0;
        white-space: nowrap;
        margin-right: 1rem;

        @media (max-width: 768px) {
          margin-right: 0;
        }

        .organization-selector {
          min-width: 120px;
        }
      }

      .order-col {
        flex: 0;
        white-space: nowrap;
        vertical-align: middle;
        .label {
          top: 2px;
          align-self: center;
        }

        .separator {
          display: inline-block;
          height: 10px;
          background-color: white;
          width: 1px;
          margin: 0 0.5rem 0;
          position: relative;
          top: 4px;
        }
      }

      .config-col {
        z-index: 12;
      }
    }
  }

  .topic-list-content {
    padding-top: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin: 0;

    .row {
      margin: 0;

      .topic-col {
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-bottom: 15px;

        .card {
          border: 1px solid rgba(0, 0, 0, 0.3);
          height: 200px;
          border-radius: 3px;
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
          cursor: pointer;

          .card-body {
            display: flex;
            text-align: center;

            > div {
              align-self: center;
              vertical-align: middle;
              width: 100%;
            }

            .new-topic-text {
              .text {
                font-size: 16px;
                transition: all 0.3s;
              }

              .icon {
                background-color: $primary;
                color: white;
                display: inline-block;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                font-size: 24px;
                padding-top: 7px;
                text-align: center;
                margin-bottom: 10px;
              }
            }

            .new-topic-icon {
              font-size: 40px;
              line-height: 100%;
              transition: all 0.3s;
            }
          }

          &:hover {
            .new-topic-text {
              .text {
                color: $primary;
                transition: all 0.3s;
              }
            }

            .new-topic-icon {
              color: $primary;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}
