.content-viewer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .empty-share {
    display: flex;
    flex-grow: 1;
  }

  > .content {
    flex-grow: 1;
    background-color: $white;
    position: relative;
    display: flex;

    > .page-content-wrapper {
      flex-grow: 1;
    }

    > .empty-page {
      width: 100%;
      display: flex;
    }
  }

  .screen-type {
    position: fixed;
    top: 100px;
    right: 40px;
    background-color: $gray-300;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    button {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
