.sub-label-wrapper {
  margin-bottom: 0.1rem;

  > span {
    font-size: 0.9rem;
    display: inline-block;
    line-height: 100%;
    padding: 0.25rem;

    > span.icon {
      margin-right: 0.25rem;
    }

    > span.text {
      font-family: NanumGothic, sans-serif;
      &:before {
        content: '<';
      }
      &:after {
        content: '>';
      }
    }
  }

  &.md {
    > span {
      font-size: 0.9rem;
    }
  }

  &.sm {
    > span {
      font-size: 0.8rem;
    }
  }

  &.xs {
    > span {
      font-size: 0.75rem;
    }
  }

  &.bold {
    font-family: LGSmHaB;
  }

  &.outline {
    > span {
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 2px;
    }
  }
}
