.sub-label-wrapper {
  margin-bottom: 0.25rem;
  > span {
    display: inline-block;
    background-color: $gray-600;
    background-color: $secondary;
    color: $white;
    padding: 0 6px;
    border-radius: 3px;
  }
}
