.icon-selector-wrapper {
  position: relative;

  .clear-image {
    position: absolute;
    top: 7px;
    left: 104px;

    @media (max-width: 576px) {
      left: calc(50% + 20px);
    }
  }

  > div {
    display: flex;

    @media (max-width: 576px) {
      display: block;
    }

    .image-item {
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .current-images {
      flex: 0;
      align-self: center;
      padding: 8px 20px 0;
      position: relative;
      height: 135px;

      .image-item {
        background-color: $white;
        width: 120px;
        height: 120px;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0.4);

        @media (max-width: 576px) {
          display: block;
          margin: 0 auto;
        }

        &.no-image {
          background-color: $gray-400;
        }
      }
    }

    .paging {
      flex: 0;
      min-width: 50px;
      text-align: center;
      align-self: center;
      font-size: 30px;
      height: 100%;
      cursor: pointer;

      @media (max-width: 576px) {
        display: inline-block;
        position: absolute;
        top: 30px;
        height: 50px;

        &.prev {
          left: 10px;
        }

        &.next {
          right: 10px;
        }
      }

      &:hover {
        color: $primary;
      }
    }

    .image-list {
      flex: 1;
      line-height: 0;
      align-self: center;
      text-align: center;
      padding-top: 5px;

      @media (max-width: 576px) {
        display: block;
      }

      .image-item {
        border: 2px solid transparent;
        width: 60px;
        height: 60px;
        padding: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          border: 2px solid $primary;
          transition: all 0.3s;
        }

        &.selected {
          border: 2px solid $primary;
          transition: all 0.3s;
        }
      }
    }
  }
}
