.user-search-popup-wrapper {
  .user-search-row {
    margin: 0;

    .user-search-col {
      padding: 0;

      &:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  .user-search-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;

    @include media-breakpoint-down(md) {
      height: 215px;
      &.first {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
    }

    .title-bar,
    .search-bar {
      min-height: 60px;
      display: flex;
      align-self: center;
      background-color: $light;
      padding: 0 1.5rem;
      flex: 0;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      @include media-breakpoint-down(md) {
        min-height: 50px;
      }

      > div {
        align-self: center;

        &.organization-col {
          padding-right: 1rem;

          .organization-selector {
            min-width: 100px;
          }
        }

        &.search-col {
          flex: 1;
        }

        &.button-col {
          flex: 0;
        }
      }
    }

    .title-bar {
      padding: 0;
      text-align: center;
      border-bottom: none;
      background-color: $white;
      display: none;

      > div {
        flex: 1;

        > span {
          display: inline-block;
          background-color: $yellow;
          padding: 4px 12px;
          border-radius: 5px;
          font-size: 0.8rem;
        }
      }
    }

    .user-select-result,
    .user-search-result {
      flex: 1;
      display: flex;
      width: 100%;
      overflow-y: auto;
    }
  }
}
