.register-layout-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  margin: 0.5rem;
  padding: 1.5rem;

  &.fill {
    min-height: calc(100% - 60px);
  }

  @media (max-width: 1248px) {

  }

  @media (max-width: 768px) {

  }

  @media (max-width: 576px) {
    border-radius: 0;
    margin: 0;
    &.fill {
      min-height: 100%;
    }
  }
}
