.sub-content-box-wrapper {
  background-color: $white;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

  > .arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    top: -2px;
    left: 0.75rem;
    background-color: $white;
    border-radius: 2px;
  }
}
