.share-editor-popup-wrapper {
  text-align: left;
  background-color: $white;

  form {
    flex: 1;
    display: flex;
    flex-direction: column;

    .share-editor-popup-content {
      max-height: none;

      @media (max-height: 800px) {
        max-height: 500px;
      }

      @media (max-height: 700px) {
        max-height: 400px;
      }

      @media (max-height: 600px) {
        max-height: 300px;
      }

      @media (max-height: 500px) {
        max-height: 200px;
      }
    }

    @media (max-width: 992px) {
      display: block;
      height: 100%;

      .share-editor-popup-content {
        max-height: 500px;

        @media (max-height: 800px) {
          max-height: 500px;
        }

        @media (max-height: 700px) {
          max-height: 400px;
        }

        @media (max-height: 600px) {
          max-height: 300px;
        }

        @media (max-height: 500px) {
          max-height: 200px;
        }
      }
    }

    .row {
      flex: 1;

      @media (max-width: 992px) {
        height: calc(100% - 66px);
        overflow-y: auto;
        margin: 0;
      }

      .share-col {
        @media (max-width: 992px) {
          margin-bottom: 0;
        }
      }
    }

    .popup-buttons {
      flex-grow: 0;
    }
  }

  .refresh-button {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $yellow;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    padding-top: 3px;
    cursor: pointer;

    &:hover {
      background-color: darken($yellow, 2%);
    }
  }
}
