.share-ready-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  height: 600px;

  @media (max-height: 740px) {
    height: 600px;
  }

  @media (max-height: 650px) {
    height: 500px;
  }

  @media (max-height: 550px) {
    height: 400px;
  }

  @media (max-height: 450px) {
    height: 100%;
  }

  .top {
    display: flex;
    position: relative;
    flex-grow: 0;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .share-info {
      flex-grow: 1;
      padding: 2rem 0;
      text-align: center;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.3);

      @media (max-width: 992px) {
        padding: 1rem 0;
      }

      @media (max-width: 768px) {
        padding: 1rem 0 1rem;
      }

      .connect-url {
        font-family: Righteous;
        text-transform: uppercase;
        padding: 0 1rem;

        > span {
          display: inline-block;
          line-height: 100%;
          color: $black;
          font-size: 28px;

          @media (max-width: 768px) {
            font-size: 20px;
            word-break: break-all;
          }

          @media (max-width: 576px) {
            font-size: 16px;
          }
        }
      }

      .connect-message {
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      .user-message {
        margin-top: 0.5rem;
        > span {
          display: inline-block;
          background-color: $primary;
          line-height: 100%;
          padding: 4px 8px;
          color: $white;
          border-radius: 5px;
        }
      }
    }

    .admin-control {
      padding: 0 2rem;
      flex-grow: 0;
      align-self: center;
      position: absolute;
      top: 32px;
      right: 0;

      @media (max-width: 992px) {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
      }

      @media (max-width: 768px) {
        margin-bottom: 0;
      }

      > div {
        display: inline-block;
        margin: 0 5px;

        button {
          display: inline-block;
          width: 40px;
          height: 40px;
          color: $white;
          background-color: $primary;
          border-radius: 50%;
          font-size: 20px;
          text-align: center;
          padding-top: 7px;
          border: none;

          &:hover {
            background-color: $yellow;
            color: $black;
          }

          &.start {
            > i {
              position: relative;
              left: 2px;
            }
          }

          &.stop {
            > i {
              position: relative;
              left: -1px;
            }
          }
        }

        > div {
          font-size: 12px;
        }
      }
    }
  }

  .user-count {
    display: inline-block;
    line-height: 100%;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;

    > span {
      display: inline-block;
      border-radius: 3px;
      padding: 3px 5px 2px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
      top: -27px;
      left: 0;
      width: 100%;

      > span {
      }
    }
  }
}
