.share-stand-by-popup-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $white;

  .projector {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      height: 60px;
      background-color: $secondary;
      min-height: 60px;
      color: $white;
      flex: 0;
      width: 100%;
      overflow: hidden;
    }

    .welcome-message {
      padding: 2rem;
      flex-grow: 0;
      background-color: $primary;
      color: $white;
      font-size: 1.2rem;
    }

    .projector-info {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      background-color: $primary;
      _background: linear-gradient(180deg, rgba(9, 120, 174, 1) 0%, rgba(11, 154, 223, 1) 100%);
      color: $white;

      > div {
        max-width: 1200px;
        margin: 1rem auto;
        width: 100%;
        background-color: transparent;
        border-radius: 2px;
        _align-self: center;

        .projector-menu {
          padding: 1rem 1rem 0;
          background-color: transparent;
          flex-grow: 0;
          border-radius: 2px 2px 0 0;

          > div {
            text-align: center;
            > div {
              display: inline-block;
              padding: 0.25rem 0.5rem;
              font-size: 1rem;
              min-width: 110px;
              border-radius: 2px;
              cursor: pointer;
              text-align: center;
              color: $white;

              &.selected {
                background-color: $yellow;
                color: $black;
              }
            }
          }
        }

        .projector-content {
          padding: 2rem;
          color: $white;
          display: flex;
          flex-direction: row;
          height: 320px;

          .core-info {
            padding: 1rem;
            width: 400px;
            min-width: 400px;

            .access-code {
              font-family: NixieOne, MalgunGothic, sans-serif;
              font-size: 4rem;
              align-self: center;
              color: $white;
              align-self: center;

              > div {
                align-self: center;
              }
            }

            .access-code-tag {
              color: $white;
            }
            > div {
              margin: 0 auto;
              color: #333;
            }
          }

          .projector-desc {
            padding: 1rem;
            align-self: center;
            > .title {
              text-align: left;
              display: flex;
              flex-direction: row;
              font-weight: bold;

              > div {
                display: inline-flex;

                &.no {
                  flex-grow: 0;
                  font-family: NixieOne, sans-serif;
                  font-size: 1.5rem;
                  text-align: center;
                  padding: 0;
                  line-height: 100%;
                  color: $white;

                  > span {
                    align-self: center;
                    line-height: 0;
                    text-align: center;
                    width: 100%;
                  }
                }

                &.text {
                  flex-grow: 1;
                  padding: 0 1rem;
                  font-size: 1.1rem;

                  > span {
                    align-self: center;
                  }
                }
              }
            }

            .message {
              font-size: 1rem;
              padding: 0.5rem;
              text-align: left;

              > span {
                padding: 0.25rem;
              }

              .info {
                font-size: 1rem;
                font-weight: bold;
                padding: 0.25rem 0.25rem;
                font-family: MalgunGothic, sans-serif;
                line-height: 100%;
                display: inline-block;
                &:before {
                  content: '<';
                  font-family: NixieOne, MalgunGothic, sans-serif;
                }

                &:after {
                  content: '>';
                  font-family: NixieOne, MalgunGothic, sans-serif;
                }

                &.url {
                  _text-transform: uppercase;
                  font-family: NixieOne, MalgunGothic, sans-serif;
                  font-size: 1.1rem;
                }
              }
              .site-name {
                font-family: 'Righteous', cursive;
                background-color: $primary;
                color: $white;
                padding: 0.25rem 0.5rem;
                border-radius: 5px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .address {
        align-self: center;
        font-family: NixieOne, sans-serif;
        width: 100%;
        text-align: center;
        color: #333;
        font-weight: bold;
        font-size: 4rem;
      }
    }

    > .title {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      min-height: 60px;
      background-color: #333;
      background-color: $primary;
      background-color: $secondary;
      color: $white;
      .share-name {
        align-self: center;
        font-size: 1.1rem;
        padding: 0 1rem;
        flex-grow: 0;
      }

      .topic-name {
        align-self: center;
        flex-grow: 1;
        text-align: right;
        padding: 0 1rem;
      }
    }

    .user-count {
      padding: 0;
      font-family: 'Baloo Bhai', cursive;
      flex-grow: 1;
      display: flex;
      flex-direction: row;

      > div {
        align-self: center;
        width: 100%;
        text-align: center;
      }
    }

    .step-content {
      display: flex;
      flex-direction: column;
      .step-row {
        display: flex;
        flex-direction: row;

        > div {
          &.step-info {
            width: 20%;
            height: 100%;
            align-self: center;
            display: flex;
            flex-direction: row;
            flex-grow: 0;
            position: relative;

            > div {
              flex-grow: 1;
              &.bar {
                width: 10px;
                height: 100%;
                background-color: $primary;
                flex-grow: 0;
              }

              &.step-no {
                display: flex;
                flex-direction: row;

                > div {
                  width: 100%;
                  text-align: right;
                  align-self: center;
                  > span {
                    width: 30px;
                    height: 30px;
                    background-color: $primary;
                    display: inline-block;
                    border-radius: 50%;
                    color: $white;
                    font-family: 'Baloo Bhai', sans-serif;
                    padding-top: 5px;
                    text-align: center;
                    position: relative;
                    left: 10px;
                  }
                }
              }

              &.step-info-content {
                display: flex;
                flex-direction: row;

                > div {
                  align-self: center;
                  width: 100%;
                  text-align: right;
                  padding-right: 2rem;
                  font-size: 1.2rem;
                }
              }
            }
          }

          &.step-content {
            flex-grow: 1;
            padding: 2rem;
            text-align: center;

            > .msg {
              font-size: 1.2rem;
              margin-bottom: 1rem;

              > span {
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                display: inline-block;
                padding: 0.25rem;
              }
            }

            > .access-code {
              margin-bottom: 0.25rem;
              > span {
                font-size: 0.8rem;
                border: 1px solid rgba(0, 0, 0, 0.4);
                line-height: 0;
                padding: 0.25rem;
              }
            }

            > .code {
              font-size: 2.6rem;
              font-family: NixieOne;
            }

            .address {
              font-size: 1.6rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .user-info {
      flex-grow: 0;
      min-height: 120px;

      display: flex;
      display: none;
      flex-direction: row;
      border-radius: 0 0 10px 10px;
      @media (max-width: 576px) {
        border-radius: 0;
      }

      > .user-list {
        flex-grow: 1;
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%;

        .user-icon-list {
          white-space: nowrap;
          height: 100%;
          display: flex;

          > div {
            align-self: center;

            > div {
              display: inline-block;
            }
          }

          div.user-icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0 1rem;
            border-radius: 50%;
            box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
          }

          div.user-name {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .web {
    display: flex;
    flex-direction: column;
    height: 100%;

    .share-ready-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      _background-color: $light;
      background-color: $white;
      border-radius: 0 0 10px 10px;
      @media (max-width: 576px) {
        border-radius: 0;
      }

      > .user-count {
        > span {
          position: relative;
          display: inline-block;
          font-family: 'Baloo Bhai', cursive;
          font-size: 2rem;
          line-height: 100%;
          width: 50px;
          height: 50px;
          background-color: $yellow;
          text-align: center;
          padding-top: 10px;
          border-radius: 50%;
          box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
        }
      }

      > .user-info-list {
        flex-grow: 1;
        display: flex;
      }

      .admin-control {
        flex-grow: 0;
        align-self: center;
        padding: 0 1rem 1rem;
        width: 100%;

        > div {
          _border-top: 1px dashed rgba(0, 0, 0, 0.3);
          background-color: $white;
          padding: 1rem 1rem 0.5rem;
          border-radius: 10px;

          width: 100%;
          > div {
            display: inline-block;
            padding: 0 1rem;

            button {
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              font-size: 16px;
              text-align: center;
              padding: 0;
              box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);

              &.start {
                > i {
                  position: relative;
                  left: 2px;
                }
              }
            }

            > div {
              font-size: 0.7rem;
              margin-top: 0.25rem;
              text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }

  > .chat-list {
    position: absolute;
    right: 0;
    top: 73px;
    width: 400px;
    height: calc(100% - 73px);
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      width: 500px;
      right: auto;
      margin: 0 calc((100% - 500px) / 2);
    }

    @media (max-width: 576px) {
      width: 100%;
      left: 0;
      margin: 0;
    }

    > div {
      padding: 1rem;
      height: 100%;
      display: flex;
      @media (max-width: 576px) {
        padding: 0;
      }
      > div {
        border: 1px solid rgba(0, 0, 0, 0.2);
        @media (max-width: 576px) {
          border: none;
        }
      }
    }
  }
}
