.share-stand-by-popup-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $white;

  .projector {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      height: 60px;
      background-color: $secondary;
      min-height: 60px;
      color: $white;
      flex: 0;
      width: 100%;
      overflow: hidden;

      .projector-menu {
        text-align: left;
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        height: 100%;

        > div {
          padding: 20px 1rem 0;
          min-width: 90px;
          text-align: center;
          position: relative;
          height: 100%;
          cursor: pointer;

          &:hover {
            color: $yellow;
          }

          .arrow {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            text-align: center;
            line-height: 0;
            display: none;

            > div {
              width: 10px;
              height: 10px;
              background-color: $primary;
              display: inline-block;
              transform: rotate(45deg);
            }
          }

          &.selected {
            .arrow {
              display: block;
            }
          }
        }
      }
    }

    .projector-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: $primary;
      color: #333;
      text-align: left;
      padding: 0.5rem;

      .tag {
        margin-bottom: 0.5rem;
        > span {
          display: inline-block;
          background-color: $secondary;
          color: $white;
          padding: 6px 8px;
          border-radius: 2px;
          min-width: 120px;
          font-size: 0.8rem;
          line-height: 100%;

        }
      }

      > div {
        flex-grow: 1;
        background-color: $white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        position: relative;

        div.or-row {
          text-align: center;
          margin-bottom: 0;
          position: relative;

          > div.or {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $white;
            background-color: $black;
            text-align: center;
            padding-top: 10px;
          }

          > div.line {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.05);
          }
        }

        div.info-row {
          width: 100%;
          display: flex;
          flex-direction: column;

          .circle-pointer {
            position: absolute;
            width: 60px;
            height: 60px;
            border: 3px solid $danger;
            border-radius: 50%;
          }

          &.address-row {
            padding-top: 2rem;
            padding-bottom: 1rem;
            text-align: center;
            flex-grow: 0;

            .address {
              display: inline-block;
              padding: 0 1rem;
              font-size: 30px;
              text-transform: uppercase;
            }
          }

          &.method-1,
          &.method-2 {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
          }

          &.method-1 {
            padding-bottom: 0;
          }

          &.method-2 {
            padding-bottom: 2rem;
          }

          .display-header {
            position: relative;

            .circle-pointer {
              top: 0;
              left: 60px;
              position: absolute;
              width: 60px;
              height: 60px;
              border: 3px solid $danger;
              border-radius: 50%;
              @media (max-width: 1000px) {
                left: 10px;
              }

              @media (max-width: 768px) {
                left: 5px;
              }
            }

            .view-type {
              padding: 0.5rem;
              text-align: left;
              background-color: $sea-blue;
              position: relative;

              .circle-pointer {
                top: -7px;
                left: 30px;
              }
            }
          }

          .access-code {
            font-size: 4rem;
            font-family: NixieOne, sans-serif;
          }

          .display-card {
            > div {
              width: 400px;
              min-width: 400px;
              margin: 0 auto;
              color: #333;
              position: relative;

              .share-card {
                border: 1px solid rgba(0, 0, 0, 0.3) !important;
              }

              .circle-pointer {
                left: calc(50% - 30px);
                bottom: 20px;
              }
            }
          }
        }
      }
    }

    .user-count {
      padding: 0;
      font-family: NixieOne, sans-serif;
      flex-grow: 1;
      display: flex;
      flex-direction: row;

      > div {
        align-self: center;
        width: 100%;
        text-align: center;
      }

      .tag {
        margin-top: 0.5rem;
        font-family: LGSmHaL, sans-serif;

        > span {
          min-width: auto;
          background-color: transparent;
          color: $black;
        }
      }
    }

    .user-info {
      height: 120px;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      > .user-list {
        flex-grow: 1;
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%;

        .user-icon-list {
          white-space: nowrap;
          height: 100%;
          display: flex;

          > div {
            align-self: center;
            text-align: center;
            width: 100%;

            > div {
              display: inline-block;
              padding: 0.5rem 1.5rem;
              margin: 0 0.5rem;
              background-color: $white;
              border: 1px solid rgba(0, 0, 0, 0.15);

              &:first-child {
                margin-left: 1rem;
              }

              &:last-child {
                margin-right: 1rem;
              }
            }
          }

          div.user-icon {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0 1rem;
            border-radius: 50%;
            box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
          }

          div.user-name {
            font-size: 0.7rem;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  .web {
    display: flex;
    flex-direction: column;
    height: 100%;

    .share-ready-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      _background-color: $light;
      background-color: $white;
      border-radius: 0 0 10px 10px;
      @media (max-width: 576px) {
        border-radius: 0;
      }

      > .user-count {
        > span {
          position: relative;
          display: inline-block;
          font-family: 'Baloo Bhai', cursive;
          font-size: 2rem;
          line-height: 100%;
          width: 50px;
          height: 50px;
          background-color: $yellow;
          text-align: center;
          padding-top: 10px;
          border-radius: 50%;
          box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
        }
      }

      > .user-info-list {
        flex-grow: 1;
        display: flex;
      }

      .admin-control {
        flex-grow: 0;
        align-self: center;
        padding: 0 1rem 1rem;
        width: 100%;

        > div {
          _border-top: 1px dashed rgba(0, 0, 0, 0.3);
          background-color: $white;
          padding: 1rem 1rem 0.5rem;
          border-radius: 10px;

          width: 100%;
          > div {
            display: inline-block;
            padding: 0 1rem;

            button {
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              font-size: 16px;
              text-align: center;
              padding: 0;
              box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);

              &.start {
                > i {
                  position: relative;
                  left: 2px;
                }
              }
            }

            > div {
              font-size: 0.7rem;
              margin-top: 0.25rem;
              text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }

  > .chat-list {
    position: absolute;
    right: 0;
    top: 73px;
    width: 400px;
    height: calc(100% - 73px);
    display: flex;
    flex-direction: column;

    @media (max-width: 992px) {
      width: 500px;
      right: auto;
      margin: 0 calc((100% - 500px) / 2);
    }

    @media (max-width: 576px) {
      width: 100%;
      left: 0;
      margin: 0;
    }

    > div {
      padding: 1rem;
      height: 100%;
      display: flex;
      @media (max-width: 576px) {
        padding: 0;
      }
      > div {
        border: 1px solid rgba(0, 0, 0, 0.2);
        @media (max-width: 576px) {
          border: none;
        }
      }
    }
  }
}
