.top-header-wrapper {
  height: 60px;
  background-color: $secondary;
  min-height: 60px;
  color: $white;
  flex: 0;


  .top-header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 2000px;
    padding: 0 50px;
    margin: 0 auto;
    height: 100%;

    @media (max-width: 992px) {
      padding: 0;
    }

    > div.logo-area {
      width: 200px;
      height: 100%;
      flex: 0;


      @media (max-width: 576px) {
        width: 140px;
      }
    }

    > div.shortcut-area,
    > div.menu-area {
      flex: 1;
    }

    > div.menu-area {
      height: 100%;
      margin-left: 13px;
    }

    > div.shortcut-area {
      text-align: right;
    }
  }
}
