.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .app-content {
    flex: 1;
    display: flex;
    width: 100%;
    _background: linear-gradient(180deg, rgba(9,120,174,1) 0%, rgba(11,154,223,1) 100%);
    background-color: $main-color;
    color: #333;
    height: 100%;
    position: relative;
  }
}
