.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  .app-content {
    flex: 1;
    display: flex;
    width: 100%;
    background-color: $primary;
    height: 100%;
    position: relative;
  }
}
