html {
  _font-size: 14px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: LGSmHaL, NanumGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: NanumGothicCoding, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #1D88EA;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #FCDC3B;
}