body {
  margin: 0;
  font-family: LGSmHaL, NanumGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  _font-size: 14px;
}

code {
  font-family: NanumGothicCoding, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
