

@font-face {
  font-family: "LGSmHaL" ;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/lgsmart/LGSmHaL.woff2") format("woff2"),
  url("../fonts/lgsmart/LGSmHaL.woff") format("woff"),
  url("../fonts/lgsmart/LGSmHaL.ttf") format("truetype");
}

@font-face {
  font-family: "LGSmHaR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lgsmart/LGSmHaR.woff2") format("woff2"),
  url("../fonts/lgsmart/LGSmHaR.woff") format("woff"),
  url("../fonts/lgsmart/LGSmHaR.ttf") format("truetype");
}

@font-face {
  font-family: "LGSmHaB";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lgsmart/LGSmHaB.woff2") format("woff2"),
  url("../fonts/lgsmart/LGSmHaB.woff") format("woff"),
  url("../fonts/lgsmart/LGSmHaB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  src: url("../fonts/lgsmart/LGSmHaSB.woff2") format("woff2"),
  url("../fonts/lgsmart/LGSmHaSB.woff") format("woff");
}

@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nanum/NanumGothic-Regular.eot");
  src: url("../fonts/nanum/NanumGothic-Regular.eot") format("embedded-opentype"),
  url("../fonts/nanum/NanumGothic-Regular.woff") format("woff");
}

@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nanum/NanumGothic-ExtraBold.eot");
  src: url("../fonts/nanum/NanumGothic-ExtraBold.eot") format("embedded-opentype"),
  url("../fonts/nanum/NanumGothic-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'NanumGothicCoding';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum/NanumGothicCoding-Regular.ttf');
}

aaaaa {
  font-family: 'Righteous', cursive;
  font-family: 'Baloo Bhai', cursive;
  font-family: 'Baloo Bhaina', cursive;
  font-family: 'Comfortaa', cursive;
}