$white: #fff;
$gray-100: #fafafa;
$gray-200: #F9F8FC;
$gray-300: #EDEDED;
$gray-400: #cbc8d0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #17141F;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #593196;
$pink: #e83e8c;
$red: #FC3939;
$orange: #fd7e14;
$yellow: #EFA31D;
$green: #13B955;
$teal: #20c997;
$cyan: #009CDC;
$primary: rgb(11, 154, 223);
$secondary: #324E5C;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;
$enable-rounded: false;
$body-color: $gray-700;
$link-hover-color: $primary;
$font-size-base: 0.875rem;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-focus-border-color: $primary;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $primary;
$navbar-padding-y: 1.2rem;
$navbar-dark-hover-color: rgba($white,.9);
$navbar-dark-active-color: rgba($white,.9);
$navbar-light-color: rgba($black,.4);
$navbar-light-active-color: rgba($black,.7);
$navbar-light-disabled-color: rgba($black,.2);
$progress-bg: $gray-300;
$progress-bar-bg: $primary;
$list-group-bg: $gray-900;
$list-group-border-color: transparent;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-active-color: $white;
$list-group-active-bg: $list-group-bg;
$list-group-disabled-color: lighten($list-group-bg, 30%);