.user-card-wrapper {
  text-align: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #999 !important;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);

  .remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 0 0 !important;
    width: 19px;
    height: 19px;
    border-radius: 50%;
  }

  .marked-tag {
    font-size: 0.6rem;
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 5px;
    background-color: $danger;
    color: $white;
    padding: 1px 5px;
    border-radius: 3px;
  }

  .card-body {
    padding: 0.75rem;
  }

  .user-card-content {
    display: flex;
    vertical-align: top;
    height: 70px;

    > div {
      &.user-icon {
        width: 70px;
        height: 70px;
        min-width: 70px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;

        > img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        > span {
          display: inline-block;
          width: 50px;
          height: 50px;
          font-size: 34px;
          border-radius: 50%;
          padding-top: 5px;
          background-color: $white;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      &.user-text {
        flex-grow: 1;
        text-align: left;
        align-self: center;
        line-height: 110%;
        overflow-y: hidden;

        .name {
          font-size: 0.9rem;
          padding-right: 10px;
          font-weight: bold;
        }

        .email {
          font-size: 0.7rem;
          overflow: hidden;
          width: 100%;
          padding-right: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-family: LGSmHaL, sans-serif;
          margin-top: 1px;
        }
      }
    }

    .new-card {
      font-size: 1.6rem;
      flex-grow: 1;
      align-self: center;

      .text {
        font-size: 0.7rem;
        position: relative;
        top: -5px;
      }
    }
  }

  &.hover:hover {
    cursor: pointer;
    border-color: $primary !important;
  }

  &.edit {
    &:hover {
      cursor: pointer;
      border-color: $primary;
    }
  }

  &.selected {
    .user-icon {
      > span {
        border: 4px solid black;
      }
    }

    &:hover {
      border-color: $primary;
    }
  }
}
