.form-level-properties-wrapper {
  font-size: 12px;
  padding: 0.5rem 0 0;
  > div {
    margin-bottom: 0.5rem;
    display: flex;

    &.color-row {
      padding: 2px 0;
    }

    > div.label {
      align-self: center;
      padding: 0 1rem;
      min-width: 90px;
      text-align: left;
    }

    > div.control {
      font-size: 14px;

      .form-level-color-picker {
        .color-content {
          .color-border {
            font-family: LGSmHaB, sans-serif;
            padding: 1px 5px 0;
            width: 30px;
            height: 24px;
            vertical-align: middle;
            border: 1px solid rgba(0, 0, 0, 0.3);

            &.fill-color {
              display: inline-block;
            }
          }
        }

        .bullet {
          padding: 0 5px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-left: none;
        }
      }

      .form-level-padding {
        .direct-input {
          padding: 4px;
          border-radius: 2px 0 0 2px;
        }

        .bullet {
          padding: 0 5px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-left: none;
        }

      }
    }
  }
}
