.footer-header-wrapper {
  min-height: 60px;
  height: 60px;
  background-color: $secondary;
  background-color: #42647F;
  background-color: $primary;
  background-color: #333;
  background-color: lighten($primary, 10%);
  background-color: #333;
  color: $white;
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: flex;
  flex: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  display: none;

  > div {
    flex: 1;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    display: none;

    &.logo-col {
      min-width: 120px;
      position: relative;
      height: 100%;
      text-align: center;
      .logo {
        position: relative;
        top : 15px;
        z-index: 1;
      }

      .light {
        position: absolute;
        width: 20px;
        height: 200px;
        background: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0));
      }

      .light1 {
        position: absolute;
        top : 0;
        left : 40px;
        transform: rotate(-30deg);
      }

      .light2 {
        position: absolute;
        top : 0;
        right : 40px;
        transform: rotate(30deg);
      }

      .light3 {
        position: absolute;
        top : 0;
        right : 50px;
      }
    }

    &.copyright-col {

      padding: 0 1rem;

      .copyright {
        font-size: 0.8rem;
        display: inline-block;
        text-align: center;
      }
    }

    &.bottom-menu {
      padding: 0 1rem;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 0.5rem 0 0;
          padding: 0;
          display: inline-block;

          a {
            display: inline-block;
            background-color: $primary;
            border-radius: 5px;
            font-size: 0.7rem;
            padding: 2px 5px;

            &:hover {
              color: $white;
              background-color: darken($primary, 5%);
            }
          }

        }
      }
    }
  }
}
