.link-wrapper {
  display: inline-block;
  position: relative;

  a {
    color: $blue;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      color: darken($blue, 10%);
    }
  }

  .underline {
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    bottom: -2px;
    background-color: $blue;
    display: inline-block;
  }

  .liner {
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    bottom: -2px;
    background-color: $blue;
    display: inline-block;
  }

  @media (min-width: 992px) {
    &:hover {
      .liner {
        width: 100%;
        transition: all 0.1s ease;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
