@import 'scss/custom';

.link-wrapper {
    display: inline-block;
    position: relative;

    a {
        color: inherit;
        height: 100%;
        display: inline-block;
        &:hover {
            text-decoration: none;
        }
    }

    .liner {
        position: absolute;
        width: 0;
        left: 0;
        height: 2px;
        bottom: -2px;
        background-color: $blue;
        border-radius: 2px;
    }

    @include media-breakpoint-up(md) {
        &:hover {
            .liner {
                width: 100%;
                transition: all 0.2s ease;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
