.select-control-wrapper {
  height: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0 1px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;

  &.open {
    border-radius: 2px 2px 0 0;
  }

  .bg-clicker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .select-control-content {
    display: flex;
    vertical-align: middle;
    align-self: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    z-index: 1;

    .select-content {
      flex: 1;
      padding: 0 0.4rem;
      align-self: center;
    }

    .bullet {
      flex-grow: 0;
      padding: 0 0.4rem;
      vertical-align: middle;
      align-self: center;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      position: relative;

      line-height: 0;
    }
  }

  &.in-active {
    opacity: 0.3;
    transition: all 0.1s;
    background-color: $gray-400;
  }

  &.active {
    opacity: 1;
    transition: all 0.1s;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.7);
    }
  }

  &:first-child {
    margin-left: 0;
  }

  .select-control-list {
    padding: 0.25rem;
    background-color: $white;
    position: absolute;
    top: 21px;
    left: -1px;
    list-style: none;
    margin: 0;
    width: calc(100% + 2px);
    line-height: 100%;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    display: none;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;

    &.open {
      display: block;
    }

    li {
      line-height: 100%;
      padding: 0.25rem;

      &:hover {
        background-color: $gray-300;
      }

      &.selected {
        background-color: $yellow;
      }
    }
  }
}
