$border-radius: 1px;
$mover-height: 24px;
.chapter-row-wrapper {
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
  background-color: $white;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    > div {
      height: 100%;
      display: flex;
      align-self: center;
      flex-direction: column;
      justify-content: center;

      &.grab {
        flex-grow: 0;
        font-size: 13px;
        min-width: 30px;
        text-align: center;
        height: 100%;
        color: $gray-500;
        transition: all 0.3s;
        cursor: grab;

        &:hover {
          background-color: $light;
          color: $gray-700;
          transition: all 0.3s;
        }
      }

      &.order-no {
        flex-grow: 0;
        white-space: nowrap;
        font-size: 0.7rem;

        .no-text {
          font-family: LGSmHaB;
          margin-right: 0.125rem;
        }

        .no-count {
          font-family: Righteous;
          font-family: LGSmHaB;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $secondary;
          color: $white;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          align-self: center;
          padding-top: 5px;
          margin-left: 0.5rem;
        }
      }

      &.title {
        font-size: 0.8rem;
        flex-grow: 1;
        padding: 0 0.5rem;
        font-family: LGSmHaB;
      }

      &.buttons {
        flex-grow: 0;
        white-space: nowrap;
        padding: 0 0.5rem;
        text-align: center;

        button {
          padding: 0;
          line-height: 0;
          border: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          background-color: $light;
          @media (min-width: 992px) {
            display: none;
          }

          &.edit-button {
            color: $primary;
            margin-right: 0.5rem;

            &:hover {
              background-color: $primary;
              color: $white;
            }
          }

          &.remove-button {
            color: $danger;

            &:hover {
              background-color: $danger;
              color: $white;
            }
          }
        }
      }
    }
  }

  .inner-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light;

    display: flex;

    .inner-popup-content {
      font-size: 0.75rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      text-align: center;
      font-family: LGSmHaB;

      > div {
        align-self: center;
        justify-content: center;
      }

      .chapter-name-text {
        flex-grow: 0;
        font-size: 0.7rem;
        text-align: left;
        color: $gray-600;
        padding: 0 1em;
      }

      .warning-message,
      .chapter-name-input {
        flex-grow: 1;

        input {
          padding: 5px 7px;
          line-height: 100%;
        }
      }

      .buttons {
        padding: 0 1em;
        flex-grow: 0;
      }
    }
  }

  &:hover {
    .buttons {
      button {
        display: inline-block !important;
      }
    }
  }
}
